
<h3>Nouveau profil</h3>

<p>
<b>{{ profile.fullname }}</b>, a créé son profil.
</p>

<blockquote>{{ comment|nl2br }}</blockquote>

<p>
Le profil est accessible à l'adresse suivante :<br />
<a href="{{ url }}">{{ url }}</a>
</p>
