{% extends "::layout.html.twig" %}

{% block PageTitle %}{{ parent() }} - Erreur interne{% endblock %}


{% block StyleSheets %}
<style type="text/css">
    body {
        background-color: #f5f5f5;
    }

    .frame {
        position: absolute;
        top: 20%;
        bottom: 20%;
        left: 20%;
        right: 20%;
    }

    .title {
        font-size: 72px;
        line-height: 1;
    }
</style>
{% endblock %}

{% block NavbarOuter %}{% endblock %}

{% block MainContainerOuter %}
<!-- MAIN CONTAINER -->
<div class="well frame">
    <p class="title">Erreur 500</p>

    <h3>Erreur interne</h3>

    <p class="lead text-center">
        {{ exception.message|nl2br|format_file_from_text }}
    </p>

    <p>
        Désolé, mais il semblerait qu'un problème interne soit survenu.
        Vous pouvez essayer de revenir à la page précédente ou alors,
        pour retourner à l'accueil,
        <a href="{{ path('laplace_common_homepage') }}">cliquez ici</a>.
    </p>
</div>

{% endblock %}
