{% extends "::layout.html.twig" %}

{% block PageTitle %}{{ parent() }} - Accès interdit{% endblock %}


{% block StyleSheets %}
<style type="text/css">
    body {
        background-color: #f5f5f5;
    }

    .frame {
        position: absolute;
        top: 20%;
        bottom: 20%;
        left: 20%;
        right: 20%;
    }

    .title {
        font-size: 72px;
        line-height: 1;
    }
</style>
{% endblock %}

{% block NavbarOuter %}{% endblock %}

{% block MainContainerOuter %}

<!-- MAIN CONTAINER -->
<div class="well frame">
    <p class="title">Erreur 403</p>

    <h3>Accès interdit</h3>

    <p class="lead text-center">
        {{ exception.message|nl2br|format_file_from_text }}
    </p>

    <p>
        Vous ne disposez pas des permissions nécessaires pour
        accéder cette page. Vous pouvez essayer de revenir à la
        page précédente ou alors, pour retourner à l'accueil,
        <a href="{{ path('laplace_common_homepage') }}">cliquez ici</a>.
    </p>
</div>

{% endblock %}
