{%
    set container = admin ?
        'LaplaceCommonBundle::admin-page.html.twig' :
        'LaplaceCommonBundle::user-page.html.twig'
%}

{% embed container with { page: [ 'need', 'create' ] } %}

{% block PageTitle %}{{ parent() }} - Nouveau besoin{% endblock %}

{% block ContentTitle %}Nouveau besoin{% endblock %}

{% block ContentBody %}

<p>
    Avant de créer un besoin, <strong>vérifiez qu'il n'existe pas</strong> déjà dans
    la <a href="{{ path(laplace_training ~ 'all_needs') }}">liste de tous les besoins</a>.
    Le besoin nouvellement créé sera <strong>automatiquement ajouté</strong> à
    votre liste personnelle.
</p>

{{ form_start(form) }}

<fieldset>

    <legend>Créer un nouveau besoin</legend>

    {{ form_rest(form.need) }}

    {{ form_rest(form) }}

</fieldset>

{{ form_end(form) }}

{% endblock %}

{% endembed %}
