
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'need', 'delete' ] } %}

{% block PageTitle %}{{ parent() }} - Supprimer un besoin{% endblock %}

{% block ContentTitle %}Supprimer un besoin{% endblock %}

{% block ContentBody %}

<p>
    La suppression du besoin <a href="{{ path(laplace_training ~ 'view_need', { 'id': need.id }) }}">{{ need.title }}</a>
    entrainera également la suppression, pour tous les utilisateurs, des
    informations relatives à ce besoin dont les inscriptions,
    les évènements, les discussions et les messages.
    <strong>Attention ! La suppression est irréversible.</strong>
</p>

{{ form_start(delete_form) }}

<fieldset>

    <legend>Supprimer un besoin</legend>

    {{ form_row(delete_form.delete) }}

    {{ form_row(delete_form.do, { 'attr': { 'class': 'btn-danger' } }) }}

    {{ form_rest(delete_form) }}

</fieldset>

{{ form_end(delete_form) }}

{% endblock %}

{% endembed %}
