{%
    set container = admin ?
        'LaplaceCommonBundle::admin-page.html.twig' :
        'LaplaceCommonBundle::user-page.html.twig'
%}

{% embed container with { page: [ 'need', 'edit' ] } %}

{% block PageTitle %}{{ parent() }} - Modifier un besoin{% endblock %}

{% block ContentTitle %}Modifier un besoin{% endblock %}


{% block ContentBody %}

{{ form_start(edit_form) }}

<fieldset>

    <legend>Modifier un besoin</legend>

    {{ form_rest(edit_form.need) }}

    {{ form_rest(edit_form) }}

</fieldset>

{{ form_end(edit_form) }}

{% endblock %}

{% endembed %}
