
{% embed 'LaplaceCommonBundle::user-page.html.twig'
    with { page: [ 'need', 'personal' ] } %}

{% block PageTitle %}{{ parent() }} - Besoins personnels{% endblock %}

{% block StyleSheets %}
{{ parent() }}
<style>
    .active-sub-table td,
    .active-sub-table th {
        width: 25%;
    }
</style>
{% endblock %}

{% block ContentTitle %}Besoins personnels{% endblock %}

{% block ContentBody %}

<p>
    Cette page regroupe l'ensemble de vos besoins de formation <strong>non pourvus</strong>,
    classés par date d'ajout (du plus récent au moins récent).

    Cliquez sur le titre d'un besoin pour voir sa description complète ou pour
    <strong>indiquer que ce besoin a été pourvu</strong>.
</p>

<br />

<table class="table table-striped table-bordered active-sub-table">
    {% if subscriptions is empty %}
    <tr>
        <td>Aucun besoin.</td>
    <tr>
    {% endif %}


    {% for sub in subscriptions %}
    <tr>
        <td>
            <span class="badge badge-info" title="{{ sub.type.description }}">{{ sub.type.name }}</span>
            <a href="{{ path('laplace_training_view_need', {id: sub.need.id}) }}">{{ sub.need.title }}</a>
            <span class="pull-right text-right">Ajouté le <strong>{{ sub.subscriptionDate|localizeddate('long', 'short') }}</strong></span>
            <br />
            {% if sub.need.category %}
            <small>{{ sub.need.category.domain.name }} / <small>{{ sub.need.category.name }}</small></small>
            {% else %}
            <small><em>Aucune catégorie</em></small>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<p class="pull-right text-right">
    <i class="icon-list"></i>
    <a href="{{ path('laplace_training_all_needs') }}">Voir tous les besoins</a>
</p>

<div class="clearfix"></div>


{% endblock %}

{% endembed %}
