{%
    set container = admin ?
        'LaplaceCommonBundle::admin-page.html.twig' :
        'LaplaceCommonBundle::user-page.html.twig'
%}


{% embed container with { page: [ 'need', 'view' ] } %}

{% block PageTitle %}{{ parent() }} - {{ need.title }}{% endblock %}

{% block ContentTitle %}{{ need.title }}{% endblock %}

{##############################################################################}

{% block ContentBody %}

{%
    include 'LaplaceTrainingBundle::category-breadcrumb.html.twig' with {
        reference:
            need,
        link:
            path(laplace_training ~ 'view_need', { 'id': need.id })
    }
%}

<h5>Description du besoin</h5>

{# Auteur #}
{% if admin %}
    <p>
        Par <a href="{{ path(laplace_user ~ 'view_profile', { 'username': need.author.username }) }}">{{ need.author.fullName }}</a>,
        le {{ need.issueDate|localizeddate('long', 'none') }}.
    </p>
{% endif %}

{# Description #}
{% if need.description is empty %}
    <p>
        <em>Aucune description</em>.
    </p>
{% else %}
    <pre>{{ need.description }}</pre>
{% endif %}

{# Outils #}
{% if admin %}
    <p class="text-right">
        <i class="icon-edit"></i>
        <a href="{{ path(laplace_training ~ 'edit_need', { 'id': need.id }) }}">Modifier</a>

        <br />

        <i class="icon-trash"></i>
        <a href="{{ path(laplace_training ~ 'delete_need', { 'id': need.id }) }}">Supprimer</a>
    </p>
{% endif %}



<h5>Inscriptions</h5>
<p class="clearfix">
{% if subscriptions is defined and subscriptions is not empty %}
    <ul>
    {% for subinfo in subscriptions %}
        <li>
            <span class="label label-info">
                {{- subinfo.subscription.type.name -}}
            </span>

            <a href="{{ path(laplace_user ~ 'view_profile', { username: subinfo.user.username }) }}">{{ subinfo.user.fullName }}</a>
            ({{ subinfo.subscription.subscriptionDate|localizeddate('long', 'none') }})
        </li>
    {% endfor %}
    </ul>
{% else %}
    {% set count = need.subscriptions.count() %}
    Ce besoin a été ajouté par
    <span class="badge{% if count > 0 %} badge-info{% endif %}">{{ count }}</span>
    personne(s).
{% endif %}
</p>

{##############################################################################}

<hr />

{##############################################################################}

{% if not admin %}

<h3>Gestion</h3>

    {% if subscription is defined and subscription is not null %}

<p>
    Vous avez ajouté ce besoin à votre liste personnelle
    le <strong>{{ subscription.subscriptionDate|localizeddate('long', 'short') }}</strong>
    avec le type
    <span class="label label-info"
          title="{{ subscription.type.nameWithDescription }}">
        {{- subscription.type.name -}}
    </span>.
</p>

    {% endif %}

{# EDIT FORM #}

    {% if edit_form is defined %}

{{ form_start(edit_form) }}

<fieldset>
    <legend>Modifier</legend>

    <p>
        Ce formulaire vous permet de changer le type de besoin.
    </p>


    {{ form_rest(edit_form) }}

</fieldset>

{{ form_end(edit_form) }}

    {% endif %}



{# SATISFIED FORM #}

    {% if satisfied_form is defined %}

{{ form_start(satisfied_form) }}

<fieldset>
    <legend>Indiquer que le besoin est satisfait</legend>

    <p>
        Ce formulaire vous permet d'indiquer que ce besoin est pourvu.
        <strong>Attention !</strong> Il ne sera alors plus possible de
        modifier cette inscription.
        Les besoins pourvus restent inscrits dans votre historique.
    </p>


    {{ form_rest(satisfied_form) }}

</fieldset>

{{ form_end(satisfied_form) }}

    {% endif %}



{# REMOVE FORM #}

    {% if unsubscribe_form is defined %}

{{ form_start(unsubscribe_form) }}

<fieldset>
    <legend>Retirer ce besoin</legend>

    <p>
        Si vous avez par erreur ajouté ce besoin à votre liste, vous pouvez
        le retirer en utilisant ce formulaire.
        Le besoin disparaîtra également de votre historique.
    </p>

    {{ form_row(unsubscribe_form.unsubscribe) }}

    {{ form_row(unsubscribe_form.do, { "attr": { "class": "btn-danger" } }) }}

    {{ form_rest(unsubscribe_form) }}

</fieldset>

{{ form_end(unsubscribe_form) }}

    {% endif %}



{# SUBSCRIBE FORM #}

    {% if subscribe_form is defined %}

{{ form_start(subscribe_form) }}
<fieldset>
    <legend>Ajouter ce besoin</legend>

{{ form_rest(subscribe_form) }}

</fieldset>
{{ form_end(subscribe_form) }}

    {% endif %}

{##############################################################################}

<hr />

{##############################################################################}

{% endif %}


<h3>Discussions</h3>

{% if not admin %}
<p>
    Cet espace vous permet d'échanger de manière privée avec le correspondant
    formation. Pour poser une question ou ajouter une remarque concernant ce
    besoin, ouvrez une nouvelle discussion à l'aide du formulaire ci-dessous.
    Les messages publiés ne seront visibles que par vous,
    le correspondant formation, et les autres personnes autorisées
    individuellement à participer à la discussion.
</p>
{% endif %}

{% include 'LaplaceTrainingBundle:Thread:table.html.twig' %}

{{ form_start(thread_form) }}

<fieldset>
    <legend>Ouvrir une nouvelle discussion</legend>

    {{ form_rest(thread_form.thread) }}

    {{ form_rest(thread_form.message) }}

    {{ form_rest(thread_form) }}

</fieldset>

{{ form_end(thread_form) }}

{##############################################################################}

{% endblock ContentBody %}

{##############################################################################}

{% endembed %}
