{%
    set container = admin ?
        'LaplaceCommonBundle::admin-page.html.twig' :
        'LaplaceCommonBundle::user-page.html.twig'
%}


{% embed container with { page: [ 'need', 'all' ] } %}

{% block PageTitle %}{{ parent() }} - Tous les besoins{% endblock %}

{##############################################################################}

{% block ContentTitle %}Tous les besoins{% endblock %}

{##############################################################################}

{% block Sidebar %}

{{ parent() }}

<li class="divider"></li>

<li class="nav-header">Domaines de connaissances</li>
{% for domain in domains %}
<li>
    <a href="#dom_{{ domain.id }}">{{ domain.name }}</a>
</li>
{% endfor %}

{% endblock %}

{##############################################################################}

{% block ContentBody %}

<p>
    Cliquez sur un besoin de formation pour <strong>voir sa description complète</strong> ou pour <strong>l'ajouter
    à votre liste</strong> de besoins personnels. Si un besoin ne figure pas dans cette
    liste, vous pouvez en <a href="{{ path(laplace_training ~ 'create_need') }}">créer un nouveau</a>.
</p>

{% for domain in domains %}
    <h3 id="dom_{{ domain.id }}">{{ domain.name }}</h3>

    <table class="table table-striped table-bordered table-condensed cat-table">

        {% for cat in domain.categories %}

            {% if groups[cat.id] is defined and groups[cat.id] is not empty %}
                <tr>
                    <th>{{ cat.name }}</th>
                </tr>
                {% for needinfo in groups[cat.id] %}
                    <tr>
                        <td>
                            <span class="badge{% if needinfo.subscriptionCount > 0 %} badge-info{% endif %}"
                                  title="{{needinfo.subscriptionCount}} {% if needinfo.subscriptionCount > 1 %} personnes intéressées {% else %} personne intéressée {% endif %}">{{ needinfo.subscriptionCount }}</span>
                            <a href="{{ path(laplace_training ~ 'view_need', { 'id': needinfo.need.id }) }}">{{ needinfo.need.title }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

        {% endfor %}

    </table>

    <hr />
{% endfor %}

{% if groups[null] is not empty %}
<h3 id="dom_other">Autre</h3>

<table class="table table-striped table-bordered table-condensed cat-table">

    <tr>
        <th>Besoins non classés</th>
    </tr>

    {% for needinfo in groups[null] %}
        <tr>
            <td>
                <span class="badge{% if needinfo.subscriptionCount > 0 %} badge-info {% endif %}"
                      title="Nombre de personnes intéressées">{{ needinfo.subscriptionCount }}</span>
                <a href="{{ path(laplace_training ~ 'view_need', { 'id': needinfo.need.id }) }}">{{ needinfo.need.title }}</a>
            </td>
        </tr>
    {% endfor %}

</table>

<hr />

{% endif %}

<p class="text-right">
    <i class="icon-plus"></i>
    <a href="{{ path(laplace_training ~ 'create_need') }}">Ajouter un besoin qui ne figure pas dans cette liste</a>
</p>

<div class="clearfix"></div>

{% endblock ContentBody %}

{##############################################################################}

{% endembed %}
