{#
    Construit un fil d'ariane à partir d'une référence (besoin ou demande).
    L'affichage ressemble au schéma suivant :
        Domaine > Catégorie > Titre de la référence

    Si la catégorie n'est pas définie, "Catégorie inconnue" est affichée.

    Si disponible, un lien est affiché sur, et vers, la référence.

    Variables
        reference   Need|Request|null|undefined
        link        string|null|undefined

#}

{% if reference is defined and reference is not null %}
<ul class="breadcrumb">
{% if reference.category %}
    <li>{{ reference.category.domain.name }} <span class="divider"><i class="icon-chevron-right"></i></span></li>
    <li>{{ reference.category.name }} <span class="divider"><i class="icon-chevron-right"></i></span></li>
{% else %}
    <li>Catégorie inconnue <span class="divider"><i class="icon-chevron-right"></i></span></li>
{% endif %}
    {% if link is defined and link is not null %}
    <li><a href="{{ link }}">{{ reference.title }}</a></li>
    {% else %}
    <li>{{ reference.title }}</li>
    {% endif %}
</ul>
{% endif %}
