
<li class="nav-header">Gestion du système</li>
<li{{ page[1] == 'dashboard' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_common ~ 'dashboard') }}">Journal système</a>
</li>
<li {{ page[1] == 'templates' ? 'class="active"' : ''}}>
    <a href="{{ path(laplace_training ~ 'templates') }}">Modèles des formulaires</a>
</li>
<!-- <li {{ page[1] == 'data-dictionnary' ? 'class="active"' : ''}}>
    <a href="{{ path(laplace_training ~ 'data_dictionnary') }}">Dictionnaire de données</a>
</li> -->
<li{{ page[1] == 'tutelles' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'tutelles') }}">Tutelles</a>
</li>
<li{{ page[1] == 'sites' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'sites') }}">Sites</a>
</li>
<li{{ page[1] == 'statuts_agents' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'statuts_agents') }}">Statuts permanents</a>
</li>
<li{{ page[1] == 'statuts_doctorants' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'statuts_doctorants') }}">Statuts contractuels</a>
</li>
<li{{ page[1] == 'domains' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'domains') }}">Domaines</a>
</li>
<li{{ page[1] == 'categories' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'categories') }}">Catégories</a>
</li>
<li{{ page[1] == 'types' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'types') }}">Types</a>
</li>

<li class="nav-header">Tableau de bord</li>
<li{{ page[1] == 'needs-summary' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'needs_summary') }}">Besoins non pourvus</a>
</li>
<li{{ page[1] == 'requests-summary' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'requests_summary') }}">Bilan de réalisation</a>
</li>
