
<li class="nav-header">Gestion des profils</li>
<li{{ search == 'all' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'all_profiles', { 'year': requested|default(null) }) }}">Tous les profils</a>
</li>
<li{{ search == 'limited' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'limited_profiles', { 'year': requested|default(null) }) }}">Profils limités</a>
</li>
<hr>
<li{{ search == 'contractuels' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'contractuels_profiles', { 'year': requested|default(null) }) }}">Profils contractuels</a>
</li>
<li{{ search == 'permanents' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'permanents_profiles', { 'year': requested|default(null) }) }}">Profils permanents</a>
</li>
<hr>
<li{{ page[1] == 'create' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'create_local_profile') }}">Créer un profil local</a>
</li>

{% if page[1] in [ 'view', 'edit', 'delete' ] %}

<li class="nav-header">{{ profile.fullName }}</li>
<li{{ page[1] == 'view' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'view_profile', { 'username': profile.username }) }}">Voir</a>
</li>
<li{{ page[1] == 'edit' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'edit_profile', { 'username': profile.username }) }}">Modifier</a>
</li>
<li{{ page[1] == 'delete' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'delete_profile', { 'username': profile.username }) }}">Supprimer</a>
</li>

{% endif %}
