
<li class="nav-header">Gestion des besoins</li>
<li{{ page[1] == 'all' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'all_needs') }}">Tous les besoins</a>
</li>
<li{{ page[1] == 'create' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'create_need') }}">Nouveau besoin</a>
</li>

{% if page[1] in [ 'view', 'edit', 'delete' ] %}

<li class="nav-header">{{ need.title }}</li>
<li{{ page[1] == 'view' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'view_need', { 'id': need.id }) }}">Voir</a>
</li>
<li{{ page[1] == 'edit' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'edit_need', { 'id': need.id }) }}">Modifier</a>
</li>
<li{{ page[1] == 'delete' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'delete_need', { 'id': need.id }) }}">Supprimer</a>
</li>

{% endif %}
