<li class="nav-header">Gestion des inscriptions</li>
<li{{ page[1] == 'all' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'all_requests') }}">Toutes les formations</a>
</li>
<li{{ page[1] == 'create' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'create_request') }}">Nouvelle formation</a>
</li>

{% if page[1] in [ 'view', 'edit', 'delete' ] %}

<li class="nav-header">{{ request.title }}</li>
<li{{ page[1] == 'view' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'view_request', { 'id': request.id }) }}">Voir</a>
</li>
<li{{ page[1] == 'edit' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'edit_request', { 'id': request.id }) }}">Modifier</a>
</li>
<li{{ page[1] == 'delete' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'delete_request', { 'id': request.id }) }}">Supprimer</a>
</li>

{% endif %}
