

<li class="nav-header">Discussions</li>
<li{{ page[1] == 'all' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'all_threads') }}">Toutes les discussions</a>
</li>

{% if page[1] in [ 'view' ] %}

<li class="nav-header">{{ thread.title }}</li>
<li{{ page[1] == 'view' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'view_thread', { 'id': thread.id }) }}">Voir</a>
</li>

{% endif %}
