

<li class="nav-header">Besoins de formation</li>
<li{{ page[1] == 'all' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'all_needs') }}">Tous les besoins</a>
</li>
<li{{ page[1] == 'create' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'create_need') }}">Nouveau besoin</a>
</li>
<li{{ page[1] == 'personal' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'personal_needs') }}">Besoins personnels</a>
</li>
<li class="divider"></li>
<li>
    <a href="{{ path(laplace_training ~ 'need_history') }}">Historique des besoins</a>
</li>


{% if page[1] in [ 'view', 'edit' ] %}

<li class="nav-header">{{ need.title }}</li>
<li{{ page[1] == 'view' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'view_need', { id: need.id }) }}">Voir</a>
</li>

    {% if app.user == need.author %}
<li{{ page[1] == 'edit' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'edit_need', { id: need.id }) }}">Modifier</a>
</li>
    {% endif %}

{% endif %}
