
<li class="nav-header">Historique des évènements</li>
<li{{ page[1] == 'all' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'full_history', { 'year': requested }) }}">Tout l'historique</a>
</li>
<li{{ page[1] == 'needs' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'need_history', { 'year': requested }) }}">Historique des besoins</a>
</li>
<li{{ page[1] == 'requests' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'request_history', { 'year': requested }) }}">Historique des demandes</a>
</li>
