
<li class="nav-header">Demandes de formation</li>
<li{{ page[1] == 'all' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'all_requests') }}">Toutes les formations</a>
</li>
<li{{ page[1] == 'create' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'create_request') }}">Nouvelle formation</a>
</li>
<li{{ page[1] == 'personal' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'personal_requests') }}">Mes inscriptions</a>
</li>
<li class="divider"></li>
<li{{ page[1] == 'history' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'request_history') }}">Historique de mes inscriptions</a>
</li>

{% if page[1] in [ 'view', 'edit' ] %}

<li class="nav-header">{{ request.title }}</li>
<li{{ page[1] == 'view' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'view_request', { 'id': request.id }) }}">Voir</a>
</li>

    {% if app.user == request.author %}
<li{{ page[1] == 'edit' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_training ~ 'edit_request', { id: request.id }) }}">Modifier</a>
</li>
    {% endif %}

{% endif %}
