
<li class="nav-header">Gestion du profil</li>
<li{{ page[1] == 'view' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'view_my_profile') }}">Voir</a>
</li>
<li{{ page[1] == 'edit' ? ' class="active"' : '' }}>
    <a href="{{ path(laplace_user ~ 'edit_my_profile') }}">Modifier</a>
</li>
