{%
    set container = admin ?
        "LaplaceCommonBundle::admin-page.html.twig" :
        "LaplaceCommonBundle::user-page.html.twig"
%}

{% embed container with { page: [ 'request', 'create' ] } %}

{% block PageTitle %}{{ parent() }} - Nouvelle formation{% endblock %}

{% block ContentTitle %}Nouvelle formation{% endblock %}

{% block ContentBody %}

{% if not admin %}

<p>
    Avant de créer une formation, <strong>vérifiez qu'elle n'existe pas</strong> déjà dans
    la <a href="{{ path(laplace_training ~ 'all_requests') }}">liste de toutes les formations</a>.
</p>
<p class="text-warning">
    Remarque : votre nouvelle demande de formation n'apparaîtra dans la liste
    de toutes les demandes que si le correspondant formation la
    <strong>valide</strong>.
    Dans ce cas, votre <strong>inscription se fera automatiquement</strong> et
    le correspondant se chargera de traiter votre demande.
</p>

{% endif %}

{{ form_start(form) }}

<fieldset>

    <legend>Créer une nouvelle formation</legend>

    {{ form_rest(form.request) }}

    {{ form_rest(form) }}

</fieldset>

{{ form_end(form) }}

{% endblock %}

{% endembed %}
