
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'request', 'delete' ] } %}

{% block PageTitle %}{{ parent() }} - Supprimer une formation{% endblock %}

{% block ContentTitle %}Supprimer une formation{% endblock %}

{% block ContentBody %}

<p>
    La suppression de la formation <a href="{{ path(laplace_training ~ 'view_request', { 'id': request.id }) }}">{{ request.title }}</a>
    entrainera également la suppression, pour tous les utilisateurs, des
    informations relatives à cette formation dont les inscriptions,
    les évènements, les discussions et les messages.
    <strong>Attention ! La suppression est irréversible.</strong>
</p>

{{ form_start(delete_form) }}

<fieldset>

    <legend>Supprimer une formation</legend>

    {{ form_row(delete_form.delete) }}

    {{ form_row(delete_form.do, { 'attr': { 'class': 'btn-danger' } }) }}

    {{ form_rest(delete_form) }}

</fieldset>

{{ form_end(delete_form) }}

{% endblock %}

{% endembed %}
