{%
    set container = admin ?
        'LaplaceCommonBundle::admin-page.html.twig' :
        'LaplaceCommonBundle::user-page.html.twig'
%}

{% embed container with { page: [ 'request', 'edit' ] } %}

{% block PageTitle %}{{ parent() }} - Modifier une formation{% endblock %}

{% block ContentTitle %}Modifier une formation{% endblock %}


{% block ContentBody %}

{% if not request.validated %}
<p class="text-warning">
    {% if admin %}
    Cette formation n'est pas encore validée et n'est visible que par son auteur.
    Une fois modifiée, elle deviendra accessible à tous les utilisateurs.
    {% else %}
    Cette formation n'a pas encore été validée par le correspondant
    formation. Pour le moment, elle n'apparait donc pas dans la liste de toutes
    les formations.
    {% endif %}
</p>
{% endif %}

{{ form_start(edit_form) }}

<fieldset>

    <legend>Modifier une formation</legend>

    {{ form_rest(edit_form.request) }}

    {{ form_rest(edit_form) }}

</fieldset>

{{ form_end(edit_form) }}

{% endblock %}

{% endembed %}
