{% set n = 0 %}
{% set n_utilisateurs = 0 %}
{% set n_showed_total = 0 %}
{% set n_total = 0 %}

{%
    set container = admin ?
        'LaplaceCommonBundle::admin-page.html.twig' :
        'LaplaceCommonBundle::user-page.html.twig'
%}


{% embed container with { page: [ 'request', 'all' ] } %}

{% block PageTitle %}{{ parent() }} - Toutes les demandes{% endblock %}

{##############################################################################}

{% block ContentTitle %}Toutes les formations{% endblock %}

{##############################################################################}

{% block Sidebar %}

{{ parent() }}

<li class="divider"></li>

<li class="nav-header">Domaines de connaissances</li>
{% for domain in domains %}
<li>
    <a href="#dom_{{ domain.id }}">{{ domain.name }}</a>
</li>
{% endfor %}

{% endblock %}

{##############################################################################}

{% block ContentBody %}

{% if admin %}

    {{ form_start(change_date_form) }}
        <span class="show-help"></span>
        <p class="help">
            Ici, vous pouvez changer la date effective des formations à partir de laquelle elles apparaitront aux utilisateurs. 
            Toutes les formations continueront d'apparaître sur la page d'administration.
        </p>
        <fieldset>
            {{ form_row(change_date_form.type_val) }}
            {{ form_row(change_date_form.datepicker) }}
            {{ form_row(change_date_form.numberpicker) }}
        </fieldset>
    {{ form_end(change_date_form) }}

{% endif %}

<p>
    Cliquez sur la formation de votre choix pour <strong>voir sa description
    complète</strong> ou pour <strong>vous y inscrire</strong>.
    Si vous souhaitez ajouter une formation qui ne figure pas dans cette liste,
    vous pouvez en <a href="{{ path(laplace_training ~ 'create_request') }}">créer une nouvelle</a>. <br/>
    {% if not admin %}
        Actuellement, <span id="nb-requests"></span> sont consultables.
    {% else %}
        Actuellement, <span id="nb-requests-util"></span> sont consultables par les utilisateurs sur les <span id="nb-requests"></span> de la base de données.
    {% endif %}
</p>

{% for domain in domains %}
<h3 id="dom_{{ domain.id }}">{{ domain.name }}</h3>

<table class="table table-striped table-bordered table-condensed cat-table">

    {% for cat in domain.categories %}
    
        {% if groups[cat.id] is defined and groups[cat.id] is not empty and groups[cat.id]|length > 0 %}
            <tr class="head">
                <th class="{{cat.id}}">{{ cat.name }}</th>
            </tr>

            {% for requestinfo in groups[cat.id] %}

                {% set validate = config.requests_display.type == 'date' and requestinfo.request.getTrainingDate() | date('Y/m/d') >= config.requests_display.val %}
                {% set validate = validate or (config.requests_display.type == 'number' and n < config.requests_display.val ) %}

                {% if admin or validate %}

                    {% set n = n + 1 %}

                    {% if validate %}
                        {% set n_utilisateurs = n_utilisateurs + 1 %}
                    {% endif %}

                    <tr class="subhead">
                        <td>
                            {{requestinfo.request.getTrainingDate() | date('d/m/y')}}
                            {% if admin or requestinfo.request.getAuthor().getID() == profile.id %}
                                <i class="icon-eye-close{{ not requestinfo.request.validated ? '' : ' icon-white' }}" title="Demande non validée"></i>
                            {% endif %}
                            <i class="icon-lock{{ requestinfo.request.close ? '' : ' icon-white' }}" title="Inscriptions closes"></i>

                            <span class="badge{% if requestinfo.subscriptionCount > 0 %} badge-info{% endif %}"
                                  title="{{requestinfo.subscriptionCount}} {% if requestinfo.subscriptionCount <= 1 %} personne inscrite{% else%} personnes inscrites{% endif %}">{{ requestinfo.subscriptionCount }}</span>

                            <a href="{{ path(laplace_training ~ 'view_request', { 'id': requestinfo.request.id }) }}">{{ requestinfo.request.title }}</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% set n_showed_total = n_showed_total + n_utilisateurs %}
        {% set n_total = n_total + n %}
        
        {% set n = 0 %}
        {% set n_utilisateurs = 0 %}
        
    {% endfor %}

</table>
<hr />
{% endfor %}


{% if groups[null] is not empty %}
<h3 id="dom_other">Autre</h3>

<table class="table table-striped table-bordered table-condensed cat-table">

    <tr class="head">
        <th>Demandes non classées</th>
    </tr>

    {% for requestinfo in groups[null] %}

        {% set validate = config.requests_display.type == 'date' and requestinfo.request.getTrainingDate() | date('Y/m/d') >= config.requests_display.val %}
        {% set validate = validate or (config.requests_display.type == 'number' and n < config.requests_display.val ) %}

        {% if admin or validate %}

            {% set n = n + 1 %}

            {% if validate %}
                {% set n_utilisateurs = n_utilisateurs + 1 %}
            {% endif %}

            <tr class="subhead">
                 <td>
                    {{requestinfo.request.getTrainingDate() | date('d/m/y')}}

                    {% if admin or requestinfo.request.getAuthor().getID() == profile.id %}
                        <i class="icon-eye-close{{ not requestinfo.request.validated ? '' : ' icon-white' }}" title="Demande non validée"></i>
                    {% endif %}
                    <i class="icon-lock{{ requestinfo.request.close ? '' : ' icon-white' }}" title="Inscriptions closes"></i>

                    <span class="badge{% if requestinfo.subscriptionCount > 0 %} badge-info{% endif %}"
                          title="{{requestinfo.subscriptionCount}} {% if requestinfo.subscriptionCount <= 1 %} personne inscrite{% else%} personnes inscrites{% endif %}">{{ requestinfo.subscriptionCount }}</span>

                    <a href="{{ path(laplace_training ~ 'view_request', { 'id': requestinfo.request.id }) }}">{{ requestinfo.request.title }}</a>
                </td>
             </tr>
        {% endif %}
       
    {% endfor %}
    
    {% set n_showed_total = n_showed_total + n_utilisateurs %}
    {% set n_total = n_total + n %}
</table>

<hr />

{% endif %}

<p class="text-right">
    <i class="icon-plus"></i>
    <a href="{{ path(laplace_training ~ 'create_request') }}">Ajouter une demande qui ne figure pas dans cette liste</a>
</p>

<script>
    
    $(document).ready(function(){
        
        {% if admin %}
            $('#nb-requests-util').text('{{n_showed_total}} demande(s)');
        {% endif %}
        
        //On affiche le nombre de demandes affichées
        $('#nb-requests').text($('.subhead').length + ' demande(s)');

        //On cache le champ inutile
        $('#change_date_form_{% if type == 'date' %}number{% else %}date{% endif %}picker').parent().parent().hide();

        //On modifie le formulaire lorsuqe l'on change de type
        $('input[type=radio]').click(function(){
            var val = $(this).val();
            switch(val){
                case 'number':
                    $('#change_date_form_datepicker').parent().parent().hide('fast');
                    $('#change_date_form_datepicker').datepicker("destroy");
                    $('#change_date_form_numberpicker').parent().parent().show('fast');
                    break;

                case 'date':
                    $('#change_date_form_numberpicker').parent().parent().hide('fast');
                    $('#change_date_form_datepicker').parent().parent().show('fast');
                    activateCalendar();
                    break;
            }
        });

         //On élimine les lignes vides du tableau.
        var heads = $('.head');
        heads.each(function(index, element){

            if($(element).next().attr('class') != 'subhead'){
               $(element).hide();
           } 

        });

        //Ensuite on élimine les domaines vides
        var tables = $('table');
        tables.each(function(index, element){
            if($(element).find('.subhead').length == 0){
                $(element).hide();
                $(element).next('hr').hide();
                $(element).prev('h3').hide();
            }
        });
    });
    
</script>

{% endblock ContentBody %}

{##############################################################################}

{% endembed %}
