{%
    set container = admin ?
        'LaplaceCommonBundle::admin-page.html.twig' :
        'LaplaceCommonBundle::user-page.html.twig'
%}


{% embed container with { page: [ 'request', 'view' ] } %}

{% block PageTitle %}{{ parent() }} - {{ request.title }}{% endblock %}

    {% block includes %} 
    
        {{ parent() }}
        <script src="{{ asset('js/requestmanager.js') }}"></script>
        
    {% endblock %}

{% block ContentTitle %}
    
    {{ request.title }}
    {% if not request.validated %}<i class="icon-eye-close"></i>{% endif %}
    {% if request.close %}<i class="icon-lock"></i>{% endif %}
    
    <br />

    {% if admin or (subscription is defined and subscription is not null) %}
        <button id="show-templates" class="btn btn-success">Télécharger un formulaire pré-rempli</button>
    {% endif %}
    
    <br />

    <div id="templates" style="display: none;">
        <p style="font-weight: normal; font-size: 0.4em; color: black;">Veuillez sélectionner le formulaire que vous souhaitez télécharger.</p>
        <div id="pdf-thumb" id-formation="{{request.id}}">
            {% for template in templates %}

                <img class="thumb" src="/web/images/thumbnails/{{template.name}}/0.png" alt="miniature du pdf modèle : {{template.name}}.pdf" name="{{template.name}}"/>

            {% endfor %}
        </div>
    </div>
    
    <div id="show-real-size"></div>
    
{% endblock %}

{##############################################################################}

{% block ContentBody %}

    <button id="create-same" class="btn btn-primary" style="margin-bottom: 10px;">Créer une formation similaire</button>

{%
    include 'LaplaceTrainingBundle::category-breadcrumb.html.twig' with {
        reference:
            request,
        link:
            path(laplace_training ~ 'view_request', { 'id': request.id })
    }
%}

{% if not request.validated %}
<p class="text-warning">
    {% if admin %}
    Cette formation n'est pas encore validée et n'est visible que par son auteur.
    Une fois modifiée, elle deviendra accessible à tous les utilisateurs.
    {% else %}
    Cette demande de formation n'a pas encore été validée par le correspondant
    formation. Pour le moment, elle n'apparait donc pas dans la liste de toutes
    les formations.
    {% endif %}
</p>
{% endif %}

<h5>Description de la formation</h5>

{# Auteur #}
{% if admin %}
    <p>
        Par <a href="{{ path(laplace_user ~ 'view_profile', { 'username': request.author.username }) }}">{{ request.author.fullName }}</a>,
        le {{ request.issueDate|localizeddate('long', 'none') }}.
    </p>
    {% if request.processingDate is not null %}
    <p>
        <strong>Formation traitée le {{ request.processingDate|localizeddate('long', 'none') }}.</strong>
    </p>
    {% endif %}
{% endif %}


{# Description #}
{% if request.description is empty %}
    <p>
        <em>Aucune description</em>.
    </p>
{% else %}
    <pre>{{ request.description }}</pre>
{% endif %}

<dl>

    {% if request.trainingDate %}
        <dt>Date de la formation :</dt>
        <dd>{{ request.trainingDate|localizeddate('full', 'none') }}</dd>
    {% endif %}

    {% if request.trainingDuration %}
        <dt>Durée de la formation (en nombre d'heures) :</dt>
        <dd>{{ request.trainingDuration }}
    {% endif %}

    {% if request.subscriptionDeadline %}
        <dt>Date d'inscription limite :</dt>
        <dd>{{ request.subscriptionDeadline|localizeddate('full', 'none') }}</dd>
    {% endif %}

    {% if request.availablePlacesCount %}
        <dt>Nombre de places disponibles :</dt>
        <dd>{{ request.availablePlacesCount }}
    {% endif %}

    {% if request.agentsPrioritaires %}
        <dt>Agents prioritaires :</dt>
        <dd>{{ request.agentsPrioritaires }}
    {% endif %}

    {% if request.funding %}
        <dt>Financement :</dt>
        <dd>{{ request.funding }}
    {% endif %}

</dl>

{# Outils #}
{% if admin %}
    <p class="text-right">
        <i class="icon-edit"></i>
        <a href="{{ path(laplace_training ~ 'edit_request', { 'id': request.id }) }}">Modifier</a>

        <br />

        <i class="icon-trash"></i>
        <a href="{{ path(laplace_training ~ 'delete_request', { 'id': request.id }) }}">Supprimer</a>
    </p>
{% endif %}



<h5>Inscriptions</h5>
<p class="clearfix">
{% if subscriptions is defined and subscriptions is not empty %}
    <ul>
    {% for subinfo in subscriptions %}
        <li>
            <span class="label label-info">
                {{- subinfo.subscription.type.name -}}
            </span>

            <a href="{{ path(laplace_user ~ 'view_profile', { username: subinfo.user.username }) }}">{{ subinfo.user.fullName }}</a>
            ({{ subinfo.subscription.subscriptionDate|localizeddate('long', 'none') }})
        </li>
    {% endfor %}
    </ul>
{% else %}
    {% set count = request.subscriptions.count() %}
    Le nombre de personnes inscrites à cette demande est
    <span class="badge{% if count > 0 %} badge-info{% endif %}">{{ count }}</span>.
{% endif %}
</p>

{##############################################################################}

<hr />

{##############################################################################}

<h3>Gestion</h3>

{% if not admin %}

    {% if request.close %}

<p class="text-warning">
    Cette demande de formation est close. Il n'est désormais plus possible
    de s'y inscrire, mais vous pouvez encore modifier et gérer une
    inscription en cours.
</p>

    {% endif %}

    {% if subscription is defined and subscription is not null %}

<p>
    Vous vous êtes inscrit(e) à cette formation le <strong>{{ subscription.subscriptionDate|localizeddate('long', 'short') }}</strong>
    avec le type
    <span class="label label-info"
          title="{{ subscription.type.nameWithDescription }}">
        {{- subscription.type.name -}}
    </span>.
</p>

        {% if subscription.accepted is sameas(null) %}
<p>
    Cette demande est <strong>en attente d'acceptation</strong> par le
    correspondant formation.
</p>
        {% elseif subscription.accepted is sameas(true) %}
<p>
    Cette demande a été <strong>acceptée</strong> par le correspondant formation.
</p>
            {% if subscription.attended is sameas(null) %}
<p>
    Vous n'avez <strong>pas encore indiqué</strong> avoir assisté à la formation.
</p>
            {% elseif subscription.attended is sameas(true) %}
<p>
    Vous avez indiqué <strong>avoir assisté</strong> à la formation.
</p>
            {% else %}
<p>
    Vous avez indiqué <strong>n'avoir pas assisté</strong> à la formation.
</p>
            {% endif %}


        {% else %}
<p>
    Votre inscription à cette demande a été <strong>refusée</strong> par
    le correspondant formation.
</p>
        {% endif %}

    {% endif %}

{# EDIT FORM #}

    {% if edit_form is defined %}

{{ form_start(edit_form) }}

<fieldset>
    <legend>Modifier</legend>

    <p>
        Ce formulaire vous permet de changer le type de demande.
    </p>


    {{ form_rest(edit_form) }}

</fieldset>

{{ form_end(edit_form) }}

    {% endif %}



{# REMOVE FORM #}

    {% if unsubscribe_form is defined %}

{{ form_start(unsubscribe_form) }}

<fieldset>
    <legend>Retirer cette demande</legend>

    <p>
        Si vous vous êtes inscrit(e) par erreur à cette demande, vous pouvez
        la retirer en utilisant ce formulaire.
        L'inscription disparaîtra également de votre historique.
    </p>

    {{ form_row(unsubscribe_form.unsubscribe) }}

    {{ form_row(unsubscribe_form.do, { "attr": { "class": "btn-danger" } }) }}

    {{ form_rest(unsubscribe_form) }}

</fieldset>

{{ form_end(unsubscribe_form) }}

    {% endif %}



{# ATTENTED FORM #}

    {% if attended_form is defined %}

{{ form_start(attended_form) }}

<fieldset>
    <legend>Indiquer sa présence</legend>

    <p>
        Ce formulaire vous permet d'indiquer que vous avez suivi ou non la
        formation.
    </p>

    {{ form_rest(attended_form) }}

</fieldset>

{{ form_end(attended_form) }}

    {% endif %}



{# SUBSCRIBE FORM #}

    {% if subscribe_form is defined %}

{{ form_start(subscribe_form) }}
<fieldset>
    <legend>S'inscrire à cette demande</legend>

<p>
    Si vous souhaitez <strong>participer à cette formation</strong>,
    inscrivez-vous ci-dessous. Par la suite, le correspondant formation
    <strong>validera ou refusera</strong> votre inscription à cette
    demande de formation.
</p>

<p>
    <strong>Rappel des formalités administratives</strong>. Une fois votre
    demande validée, n'oubliez pas de :
    <ul>
        <li>remplir le formulaire de <em>Demande d'inscription à une formation</em> ;</li>
        <li>remplir le formulaire de <em>Demande d'ordre de mission</em> s'il y a déplacement ;</li>
        <li>faire signer votre demande par le correspondant formation si la formation est dispensée par le CNRS ;</li>
        <li>prévenir le secrétariat.</li>
    </ul>
</p>

<p class="text-right">
    <a href="http://intranet.laplace.univ-tlse.fr/spip.php?rubrique137">Voir l'ensemble des démarches à effectuer</a>
</p>

{{ form_rest(subscribe_form) }}

</fieldset>
{{ form_end(subscribe_form) }}

    {% endif %}

{% else %}

{# SUBSCRIPTIONS FORMS #}

{% if subscriptions is not empty %}

<fieldset>
    <legend>Gérer les inscriptions</legend>

<p>
    Pour chacune des demandes ci-dessous, vous pouvez <strong>accepter,
    refuser ou mettre en attente</strong> l'inscription.
    La participation est ré-initialisée à "Aucune indication" si l'état
    de la demande n'est pas "Demande acceptée".
</p>

<ul class="nav nav-pills">
    {% for subinfo in subscriptions %}
    <li class="{{ loop.first ? 'active' : '' }}">
        <a href="#manage_{{ loop.index }}" data-toggle="tab">
            {{- subinfo.user.fullName -}}
        </a>
    </li>
    {% endfor %}
</ul>

<div class="tab-content">

    {% for subinfo in subscriptions %}
    <div id="manage_{{ loop.index }}" class="tab-pane fade {{ loop.first ? 'active in' : '' }}">
    {{ render(controller('LaplaceTrainingBundle:Request:manageSubscriptionForm', { subinfo: subinfo })) }}
    </div>
    {% endfor %}

</div>

{% else %}

<p>
    <em>Aucune inscription à gérer.</em>
</p>

{% endif %}

{% endif %}

{##############################################################################}

<hr />

{##############################################################################}

<h3>Discussions</h3>

{% if not admin %}
<p>
    Cet espace vous permet d'échanger de manière privée avec le correspondant
    formation. Pour poser une question ou ajouter une remarque concernant cette
    demande, ouvrez une nouvelle discussion à l'aide du formulaire ci-dessous.
    Les messages publiés ne seront visibles que par vous,
    le correspondant formation, et les autres personnes autorisées
    individuellement à participer à la discussion.
</p>
{% endif %}

{% include 'LaplaceTrainingBundle:Thread:table.html.twig' %}

{{ form_start(thread_form) }}

<fieldset>
    <legend>Ouvrir une nouvelle discussion</legend>

    {{ form_rest(thread_form.thread) }}

    {{ form_rest(thread_form.message) }}

    {{ form_rest(thread_form) }}

</fieldset>

{{ form_end(thread_form) }}

{##############################################################################}

{% endblock ContentBody %}

{##############################################################################}

{% endembed %}
