
{% embed 'LaplaceCommonBundle::user-page.html.twig'
    with { page: [ 'request', 'personal' ] } %}

{% block PageTitle %}{{ parent() }} - Demandes personnelles{% endblock %}

{% block StyleSheets %}
{{ parent() }}
<style>
    .active-sub-table td,
    .active-sub-table th {
        width: 25%;
    }
</style>
{% endblock %}

{% block ContentTitle %}Demandes personnelles{% endblock %}

{% block ContentBody %}

<p>
    Cette page regroupe l'ensemble de vos <strong>inscriptions à des demandes de formation</strong>,
    classées par date d'ajout (de la plus récente à la moins récente).

    Cliquez sur le titre d'une demande pour voir sa description complète ou pour
    <strong>modifier votre inscription</strong>.
</p>

<br />

<table class="table table-striped table-bordered active-sub-table">
    {% if subscriptions is empty %}
    <tr>
        <td>Aucune demande.</td>
    <tr>
    {% endif %}


    {% for sub in subscriptions %}
    <tr>
        <td>
            <span class="badge badge-info" title="{{ sub.type.description }}">{{ sub.type.name }}</span>
            <a href="{{ path('laplace_training_view_request', {id: sub.request.id}) }}">{{ sub.request.title }}</a>
            <span class="pull-right text-right">
                Ajoutée le {{ sub.subscriptionDate|localizeddate('long', 'short') }}<br />
                
            {% if sub.accepted is sameas(true) %}
                
                <span style="color:green; font-weight: bold;"><i class="fa fa-check-circle" aria-hidden="true"></i> Acceptée</span> /
                {% if sub.attended is sameas(true) %}
                    
                    <span style="color:green; font-weight: bold;">Effectuée</span>
                    
                {% elseif sub.attended is sameas(false) %}
                    
                    <span style="color:red; font-weight: bold;">Non effectuée</span>
                    
                {% else %}
                    
                    <span style="color:orange; font-weight: bold;">En attente</span>
                    
                {% endif %}
                
            {% elseif sub.accepted is sameas(false) %}
                
                <span style="color:red; font-weight: bold;"><i class="fa fa-minus-circle" aria-hidden="true"></i> Refusée</span>
                
            {% else %}
                
                <span style="color:orange; font-weight: bold;"><i class="fa fa-question-circle" aria-hidden="true"></i> En attente de validation</span>
                
            {% endif %}
            </span>
            <br />
            {% if sub.request.category %}
            <small>{{ sub.request.category.domain.name }} / <small>{{ sub.request.category.name }}</small></small>
            {% else %}
            <small><em>Aucune catégorie</em></small>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<p class="text-right">
    <i class="icon-list"></i>
    <a href="{{ path('laplace_training_all_requests') }}">Voir toutes les demandes</a>
</p>

{% endblock %}

{% endembed %}
