{% embed 'LaplaceCommonBundle::common-page.html.twig' with { tab: 'new-profile' } %}

{% block PageTitle %}{{ parent() }} - Connexion{% endblock %}

{% block StyleSheets %}
<style type="text/css">

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

    </style>
{% endblock %}

{% block MainContainerOuter %}
    <!-- MAIN CONTAINER -->
    <div class="container">

        <form method="POST" action="{{ path('login_check') }}" class="form-signin">

            <h2 class="form-signin-heading">Connexion</h2>

            {% if error %}
            <div class="alert alert-error">
                {{ error }}
            </div>
            {% endif %}

            <label for="username">Login :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="input-block-level" />

            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="_password" class="input-block-level" />

            <button type="submit" class="btn btn-large btn-primary input-block-level">Connexion</button>
        </form>

    </div>

{% endblock %}
{% endembed %}