{#
    Ce template twig définit la structure des pages du site.
#}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block PageTitle %}Laplace{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link href="{{ asset('bootstrap/css/cerulean.bootstrap.min.css') }}" rel="stylesheet" media="screen" />
        

        {% block StyleSheets %}{% endblock %}
        
        {% block includes %}
            <script src="{{ asset('js/jquery-2.10.1.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('js/dropit.js') }}"></script>
            <script src="{{ asset('js/datatable.js') }}"></script>
            <script src="{{ asset('js/dropzone.js') }}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('js/user-selector-typeahead.js') }}"></script>
            
            <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('css/dropit.css') }}" type="text/css" />
            <link href="{{ asset('bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen" />
            <link href="{{ asset('css/datatable.css') }}" rel="stylesheet" media="screen" />
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" media="screen" />
            <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet" media="screen" />
            <link href="{{ asset('css/dropzone.css') }}" rel="stylesheet" media="screen" />
                        
        {% endblock %}
    </head>
    <body>
        <!-- NAVBAR -->
        {% block NavbarOuter %}
        <div class="navbar-wrapper">
            <div class="container">
                <div class="navbar{{ inverse_navbar is defined ? ' navbar-inverse' : '' }}">
                    <div class="navbar-inner">
                        <a class="brand" href="{{ path('laplace_common_homepage') }}">Laplace</a>

                        <ul class="nav">
                        {% block NavbarLeft %}
                        {% endblock %}
                        </ul>

                        <ul class="nav pull-right">
                        {% block NavbarRight %}

                            {% if app.user %}
                            <li>
                                <a href="{{ path('logout') }}">
                                    <i class="icon-off icon-white"></i>
                                    Déconnexion ({{ app.user.username }})
                                </a>
                            </li>
                            {% endif %}

                        {% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block MainContainerOuter %}
        <!-- Main Container -->
        <div class="container">

            <div class="row">
                <div class="span12">
                    {% for message in app.session.flashbag.get('error') %}
                    <div class="alert">
                        <strong>Attention</strong><br />
                        <i class="icon-warning-sign"></i> {{ message }}
                    </div>
                    {% endfor %}

                    {% for message in app.session.flashbag.get('info') %}
                    <div class="alert alert-success">
                        <strong>Information</strong><br />
                        <i class="icon-ok"></i> {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>


            <div class="row">
                {% block MainContainer %}

                    {% block SidebarOuter %}
                    <!-- SIDEBAR -->
                        <div class="span3">
                            <div class="well sidebar-nav">
                                <ul class="nav nav-list">
                                    {% block Sidebar %}
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                     
                    {% endblock %}

                    {% block ContentOuter %}
                    <!-- BODY -->
                    <div class="span9">
                        <div class="well">
                            {% block Content %}

                            <h1>{% block ContentTitle %}{% endblock %}</h1>

                            <hr />

                            {% block ContentBody %}{% endblock %}

                            {% endblock %}
                        </div>
                    </div>
                    {%endblock %}

                {% endblock MainContainer %}
            </div>
        </div>
        {% endblock MainContainerOuter %}

        <input type="hidden" id="api_find_users" data-url="{{ path('laplace_user_api_find_users') }}" />
        
    </body>
</html>
