{#

    Affiche une pagination année par année.

    Variables :
        years       le tableau d'années à afficher
        requested   l'année actuelle
        route_name  nom de la route pour chaque année
        route_args  arguments passés à la fonction path() pour calculer
                    l'url

#}

<div class="pagination pagination-centered">
    <ul>
        {% for year in years %}

        <li{{ year == requested ? ' class="active"' : '' }}>
            <a href="{{ path(route_name, route_args|merge({ 'year': year })) }}">{{ year }}</a>
        </li>

        {% endfor %}
    </ul>
</div>
