{%
    set container = admin ?
        'LaplaceCommonBundle::admin-page.html.twig' :
        'LaplaceCommonBundle::user-page.html.twig'
%}

{% embed container with { page: [ 'file', 'all' ] } %}
    
    {% block PageTitle %}{{ parent() }} - Fichiers{% endblock %}
    {% block ContentTitle %}Fichiers{% endblock %}
    {% block includes %} 
    
        {{ parent() }}
        <script src="{{ asset('js/myfilemanager.js') }}"></script>
        
    {% endblock %}


    {% block ContentBody %}
        <fieldset>
            <legend>Upload</legend>
            <span class="show-help"></span>
            <p class="help">
                Vous pouvez uploader ici vos fichiers signés au format image (png, jpeg, ...) ou pdf.
            </p>
        </fieldset>
            
        <form enctype="multipart/form-data" class="dropzone" action="/{% if admin %}admin{% else %}espace-perso{% endif %}/fichiers" method="post" name="upload_file" id="upload_file">

            {{ form_widget(form) }}

        {{ form_end(form) }}
        
        <fieldset>
            <legend>Navigation</legend>
            <span class="show-help"></span>
            <p class="help">
                Vous pouvez ici parcourir vos fichiers personnels. Les fichiers sélectionnés sont entourés. Une fois que vous en avez sélectionné un ou plusieurs, vous pouvez soit les télécharger 
                soit les supprimer. Si plusieurs fichiers sont téléchargés en même temps, ils seront compressés dans une archive .zip.
                Pour en sélectionner plus d'un, il faut tenir la touche MAJ appuyée en même temps que vous sélectionnez les éléments. <br />
                Si vous ajoutez un dossier entier à vos téléchargement, son contenu ainsi que le contenu de ses sous-dossiers seront ajoutés à l'archive.<br />
                Vous pouvez aussi créer des sous-dossier. Lorsque vous uploadez des fichiers, ils seront placés dans le sous-dossier courant.
            </p>
            
            <div id="all-container">
                
                <div id="file-control">
                    <button id="btn-fldr" title="Créer un nouveau dossier"  class="btn btn-primary"><i class="fa fa-folder-open" aria-hidden="true"></i></button>
                    <button id="btn-download" title="Télécharger les éléments sélectionnés" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i></button>
                    <button id="btn-del" title="Supprimer les éléments sélectionnés" class="btn btn-primary"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <button id="btn-rename" title="Renommer l'élément sélectionné" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                    <button id="btn-goback" title="Revenir au niveau supérieur" class="btn btn-primary" style="display:none;"><i class="fa fa-level-up" aria-hidden="true"></i></button>
                </div>
                
                <p id="show-path">/</p>
                
                <h4>Dossiers</h4>
                <div id="folder-container">
                    
                </div>
                
                <h4>Fichiers</h4>
                <div id="files-container">
                    
                </div>
            </div>
        </fieldset>
        
        <script>
            $(document).ready(function(){
                //On restreint les possibilités de fichiers uploadés.
                Dropzone.prototype.defaultOptions.acceptedFiles = 'application/pdf,image/*,.doc,.docx,.odt,.xlsx,.ods,.rtf';

                var tree_json =  '{{files | raw}}';
                MyFileManager.tree = jQuery.parseJSON(tree_json);
                MyFileManager.current_tree = jQuery.parseJSON(tree_json);
                MyFileManager.url = '/{% if admin %}admin{% else %}espace-perso{% endif %}/fichiers/';

                //On ajoute les listeners des boutons de contrôle.
                $('#btn-goback').click(levelUp);

                $('#btn-fldr').click(addFolder);

                $('#btn-rename').click(renameFile);

                $('#btn-del').click(deleteFile);

                $('#btn-download').click(download);

                //On ajoute la méthode addFile à window pour pouvoir l'utiliser depuis dropzone.js
                window.add = addFile;

                //On affiche le dossier initial
                listFiles(MyFileManager.tree);

                //On désactive les contrôles
                switchControls();

                //On remplit une premrière fois l'affichage
                refresh();
            });
        
        </script>   
    {% endblock ContentBody %}
    
{% endembed %}