
{% embed 'LaplaceCommonBundle::user-page.html.twig'
    with { page: [ 'history', 'all' ] } %}

{% block PageTitle %}{{ parent() }} - Historique complet ({{ requested }}){% endblock %}

{% block ContentTitle %}Historique complet de l'année {{ requested }}{% endblock %}

{##############################################################################}

{% block ContentBody %}

<p>
    Cette page regroupe l'ensemble de tous les évènements vous concernant.
</p>

{% include "::pagination.html.twig"
    with { "route_name": "laplace_training_full_history", "route_args": {} } %}

{% include "LaplaceTrainingBundle:Event:table.html.twig"
    with { "events": events } %}

{% include "::pagination.html.twig"
    with { "route_name": "laplace_training_full_history", "route_args": {} } %}

{% endblock ContentBody %}

{##############################################################################}

{% endembed %}
