

{% embed 'LaplaceCommonBundle::user-page.html.twig'
    with { page: [ 'history', 'needs' ] } %}

{% block PageTitle %}{{ parent() }} - Historique des besoins ({{ requested }}){% endblock %}

{% block ContentTitle %}Historique des besoins de l'année {{ requested }}{% endblock %}

{##############################################################################}

{% block ContentBody %}

<p>
    Cette page regroupe l'ensemble de tous les évènements liés à vos besoins
    de formation.
</p>

{% include "::pagination.html.twig"
    with { "route_name": "laplace_training_need_history", "route_args": {} } %}

{% include "LaplaceTrainingBundle:Event:table.html.twig"
    with { "events": events } %}

{% include "::pagination.html.twig"
    with { "route_name": "laplace_training_need_history", "route_args": {} } %}

{% endblock ContentBody %}

{##############################################################################}

{% endembed %}
