

{% embed 'LaplaceCommonBundle::user-page.html.twig'
    with { page: [ 'history', 'requests' ] } %}

{% block PageTitle %}{{ parent() }} - Historique des demandes ({{ requested }}){% endblock %}

{% block ContentTitle %}Historique des demandes de l'année {{ requested }}{% endblock %}

{##############################################################################}

{% block ContentBody %}

<p>
    Cette page regroupe l'ensemble de tous les évènements liés à vos demandes
    de formation.
</p>

{% include "::pagination.html.twig"
    with { "route_name": "laplace_training_request_history", "route_args": {} } %}

{% include "LaplaceTrainingBundle:Event:table.html.twig"
    with { "events": events } %}

{% include "::pagination.html.twig"
    with { "route_name": "laplace_training_request_history", "route_args": {} } %}

{% endblock ContentBody %}

{##############################################################################}

{% endembed %}
