

<table class="table table-striped table-bordered evt-table">

    <tr>
        <th class="evt-date">Date</th>
        <th class="evt-text">Evènement</th>
        <th class="evt-link">Lien</th>
    </tr>

    {% if events is empty %}
    <tr>
        <td colspan="3"><em>Aucun évènement</em></td>
    </tr>
    {% endif %}

    {% for evt in events %}

    {% if evt.isNeedRelated %}
        {%
            set link = path('laplace_training_view_need', { 'id': evt.referenceId })
        %}
    {% elseif evt.isRequestRelated %}
        {%
            set link = path('laplace_training_view_request', { 'id': evt.referenceId })
        %}
    {% else %}
        {% set link = null %}
    {% endif %}

    <tr>

        <td class="evt-date">
            {{ evt.date|localizeddate('medium', 'none') }}</span>
        </td>
        <td class="evt-text">
            {% if evt.isUserRelated %}
                <i class="icon-user"></i>
            {% elseif evt.isNeedRelated %}
                <i class="icon-star-empty"></i>
            {% elseif evt.isRequestRelated %}
                <i class="icon-star"></i>
            {% endif %}

            {{ evt.message }}
        </td>
        <td class="evt-link">
            {% if link %}
                <i class="icon-hand-right"></i> <a href="{{ link }}">Voir</a>
            {% endif %}
        </td>

    </tr>

    {% endfor %}

</table>
