
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'profile', 'create' ] } %}

{% block PageTitle %}{{ parent() }} - Créer un profil local{% endblock %}

{% block ContentTitle %}Créer un profil local{% endblock %}

{% block ContentBody %}

{% if new_profile_form is not defined %}

<p class="lead">
    Cliquez sur le lien correspondant au type de profil local à créer :
    <ul>
        <li>
            <a href="{{ path(laplace_user ~ 'create_local_profile_docto') }}">Doctorant</a>
        </li>
        <li>
            <a href="{{ path(laplace_user ~ 'create_local_profile_agent') }}">Agent</a>
        </li>
    </ul>
</p>
{% else %}

{{ form_start(new_profile_form) }}

<fieldset>
    <legend>Nouveau profil</legend>

    {{ form_row(new_profile_form.identity.username) }}
    
    <p>La mention <strong>(local)</strong> sera automatiquement ajoutée au nom.</p>
    
    {{ form_row(new_profile_form.name) }}
    
    {{ form_row(new_profile_form.firstname) }}
    
    {{ form_rest(new_profile_form.identity) }}

    {{ form_rest(new_profile_form.user) }}

    {{ form_rest(new_profile_form.userinfo) }}

    {{ form_rest(new_profile_form) }}

</fieldset>

{{ form_end(new_profile_form) }}

{% endif %}

{% endblock %}

{% endembed %}
