
{% embed 'LaplaceCommonBundle::common-page.html.twig' with { tab: 'new-profile' } %}

{% block PageTitle %}{{ parent() }} - Inscription{% endblock %}

{% block ContentTitle %}Inscription{% endblock %}

{% block ContentBody %}

{% if new_profile_form is not defined %}

<p class="lead">
    Cliquez sur le lien correspondant à votre situation :
    <ul>
        <li>
            <a href="{{ path('laplace_user_new_profile_docto') }}">Vous êtes un doctorant</a>
        </li>
        <li>
            <a href="{{ path('laplace_user_new_profile_agent') }}">Vous êtes un agent</a>
        </li>
    </ul>
</p>
{% else %}

{{ form_start(new_profile_form) }}

<fieldset>
    <legend>Nouveau profil</legend>

    {% if bad_credentials is defined %}
    <p class="text-warning">
        Vos identifiants ne sont pas valides. Veuillez essayer à nouveau.
    </p>
    {% endif %}

    {{ form_row(new_profile_form.identity.username) }}

    {{ form_row(new_profile_form.password) }}

    {{ form_rest(new_profile_form.identity) }}

    {{ form_rest(new_profile_form.user) }}

    {{ form_rest(new_profile_form.userinfo) }}

    <p>
        Vous pouvez laisser un message d'informations complémentaires pour
        le correspondant formation.
        Utilisez ce champ s'il manque un choix dans les champs ci-dessus.
    </p>

    {{ form_rest(new_profile_form) }}

</fieldset>

{{ form_end(new_profile_form) }}

<p>
    <i class="icon-asterisk"></i> : champ obligatoire
</p>

{% endif %}

{% endblock %}

{% endembed %}
