
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'profile', 'delete' ] } %}

{% block PageTitle %}{{ parent() }} - Supprimer un utilisateur{% endblock %}

{% block ContentTitle %}Supprimer un utilisateur{% endblock %}

{% block ContentBody %}

<p>
    La suppression des données de <strong>{{ profile.fullName }}</strong>
    entrainera également la suppression de son historique et de tous ses
    messages, dans toutes les discussions. Les besoins, demandes et fils de
    discussions créés par cet utilisateur ne seront pas supprimés, mais vous
    apparaîtrez désormais comme l'auteur de ces éléments.
    <strong>Attention ! Cette opération est irréversible.</strong>
</p>

{{ form_start(delete_form) }}

<fieldset>

    <legend>Supprimer un besoin</legend>

    {{ form_row(delete_form.delete) }}

    {{ form_row(delete_form.do, { 'attr': { 'class': 'btn-danger' } }) }}

    {{ form_rest(delete_form) }}

</fieldset>

{{ form_end(delete_form) }}

{% endblock %}

{% endembed %}
