{%
    set container = admin ?
        'LaplaceCommonBundle::admin-page.html.twig' :
        'LaplaceCommonBundle::user-page.html.twig'
%}

{% embed container with { page: [ 'profile', 'edit' ] } %}

{% block PageTitle %}{{ parent() }} - Modifier le profil ({{ profile.fullName }}){% endblock %}

{% block ContentTitle %}{{ profile.fullName }}{% endblock %}

{% block ContentBody %}
    
{##############################################################################}
{% if is_admin == 1 %}

{{ form_start(admin_form) }}

<fieldset>
    <legend>Administration</legend>

    {{ form_rest(admin_form.email_notif) }}

    {{ form_rest(admin_form) }}

</fieldset>

{{ form_end(admin_form) }}
{% endif %}

{##############################################################################}

{##############################################################################}


{{ form_start(identity_form) }}

<fieldset>
    <legend>Identité</legend>

    {{ form_rest(identity_form.identity) }}

    {{ form_rest(identity_form) }}

</fieldset>

{{ form_end(identity_form) }}


{##############################################################################}

{{ form_start(user_form) }}

<fieldset>
    <legend>Rattachement</legend>

    {{ form_rest(user_form.user) }}

    {{ form_rest(user_form) }}

</fieldset>

{{ form_end(user_form) }}


{##############################################################################}


{{ form_start(userinfo_form) }}

<fieldset>
    <legend>Situation professionnelle</legend>

    {{ form_rest(userinfo_form.userinfo) }}

    {{ form_rest(userinfo_form) }}

</fieldset>

{{ form_end(user_form) }}

{##############################################################################}

{% endblock %}

{% endembed %}
