

<thead>
    <tr>
        <th colspan="7" class="head-table">Informations</th>
        <th colspan="3" class="head-table">Administration</th>
    </tr>
    <tr>
        <th class="user-date">Date</th>
        <th class="user-name">Nom complet</th>
        <th class="user-site">Site</th>
        <th class="user-tutelle">Tutelle</th>
        <th class="user-statut">Présence</th>
        <th class="user-role">Droits</th>
        <th class="user-sexe">G</th>
        <th class="void-cell"></th>
        <th class="void-cell"></th>
        <th class="void-cell"></th>
    </tr>
</thead>

<tbody>
{% set i = 0 %}
{% for useridentity in users %}
        {% if useridentity.role == searched_role 
                and (show_contractuels == null or (show_contractuels is defined and useridentity.estDoctorant())) 
                and (show_permanents == null or (show_permanents is defined and useridentity.estAgent())) %}

<tr>
        <td>
            {% if useridentity.estDoctorant() %}
                {{ useridentity.userInfo.debutThese | date("d/m/y") }}
            {% else %}
                --/--/--
            {% endif %}
        </td>
        <td>
            {{ useridentity.name }} {{ useridentity.firstname }}
        </td>
        <td>
            {{useridentity.getSite().getName()}} 
        </td>
        <td>
            {{useridentity.getTutelle().getNom()}}
        </td>
        <td data-search="{% if useridentity.estDoctorant() %} Contractuel {% else %} Permanent {% endif %}">
            <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                      {% if useridentity.estDoctorant() %} Contractuel {% else %} Permanent {% endif %}
                       <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu drop-presence" username="{{useridentity.username}}">
                        <li><a href="#">{% if useridentity.estDoctorant() %} Permanent {% else %} Contractuel {% endif %}</a></li>
                  </ul>
            </div>
        </td>
        
        {% if useridentity.getRole() == 'ROLE_USER' %}
            {% set current = 'User' %}
            {% set choix1 = 'Limité' %}
            {% set choix2 = 'Admin' %}
        {% elseif useridentity.getRole() == 'ROLE_ADMIN' %}
            {% set current = 'Admin' %}
            {% set choix1 = 'User' %}
            {% set choix2 = 'Limité' %}
        {% else %}
            {% set current = 'Limité' %}
            {% set choix1 = 'User' %}
            {% set choix2 = 'Admin' %}
        {% endif %}
            
        <td data-search="{{current}}">
            
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    {{ current }}
                     <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                      <li class="drop-droits" username="{{useridentity.username}}"><a href="#">{{ choix1 }}</a></li>
                      <li class="drop-droits" username="{{useridentity.username}}"><a href="#">{{ choix2 }}</a></li>
                </ul>
            </div>
        </td>
        {% if useridentity.getGender() == 1 %}
            <td data-search="mme mlle">
                 <i class="fa fa-venus" title="Femme"></i>
            </td>
        {% else %}
            <td data-search="mr">
                <i class="fa fa-mars" title="Homme">
            </td>
        {% endif %}
        <td>
            <i class="icon-hand-right"></i>
            <a href="{{ path(laplace_user ~ 'view_profile', { 'username': useridentity.username }) }}">Voir</a>
        </td>
        <td>
            <i class="icon-edit"></i>
            <a href="{{ path(laplace_user ~ 'edit_profile', { 'username': useridentity.username }) }}">Modifier</a>
        </td>
        <td>
            <i class="icon-remove"></i>
            <a href="{{ path(laplace_user ~ 'delete_profile', { 'username': useridentity.username }) }}">Supprimer</a>
        </td>
</tr>
{% set i = i + 1 %}
{% endif %}
    {% endfor %}
</tbody>
