
{% if show_role_admin is defined %}

<div>
    <h3>Administrateurs <i class="icon-wrench"></i></h3>

    <table id="admin-table" class="table table-striped table-bordered user-table myTable display compact order-column stripe row-border hover">

        {% include 'LaplaceUserBundle:UserProfile:row_table.html.twig' with 
            {users: users, searched_role: 'ROLE_ADMIN', 
            show_permanents: show_permanents is defined ? show_permanents : null, 
            show_contractuels: show_contractuels is defined ? show_contractuels : null}
        %}

    </table>
</div>

{% endif %}


{% if show_role_user is defined %}

<div>
<h3>Utilisateurs actifs <i class="icon-user"></i></h3>

    <table id="user-table" class="table table-striped table-bordered user-table myTable display compact order-column stripe row-border hover">

        {% include 'LaplaceUserBundle:UserProfile:row_table.html.twig' with 
            {users: users, searched_role: 'ROLE_USER', 
            show_permanents: show_permanents is defined ? show_permanents : null, 
            show_contractuels: show_contractuels is defined ? show_contractuels : null}
        %}

    </table>
</div>
{% endif %}



{% if show_role_limited is defined  %}
<div>
<h3>Utilisateurs limités <i class="icon-lock"></i></h3>

    <table id="limited-table" class="table table-striped table-bordered user-table myTable display compact order-column stripe row-border hover">

        {% include 'LaplaceUserBundle:UserProfile:row_table.html.twig' with 
            {users: users, searched_role: 'ROLE_LIMITED', 
            show_permanents: show_permanents is defined ? show_permanents : null, 
            show_contractuels: show_contractuels is defined ? show_contractuels : null}
        %}

    </table>
</div>
{% endif %}




