

{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'profile', 'all' ] } %}

{% block PageTitle %}{{ parent() }} - Tous les profils{% if search == 'contractuels' %} contractuels {% endif %}
                                                      {% if search == 'permanents' %} permanents {% endif %} 
                                                      {% if search == 'limited' %} limités {% endif %} 
{% endblock %}

{% block ContentTitle %}Tous les profils {% if search == 'contractuels' %} contractuels {% endif %}
                                            {% if search == 'permanents' %} permanents {% endif %} 
                                            {% if search == 'limited' %} limités {% endif %} 
{% endblock %}

{% block includes %}

    {{ parent() }}
    
    <script src="{{ asset('js/viewprofiles.js') }}"></script>
    
{% endblock %}

{##############################################################################}

{% block ContentBody %}

<fieldset>

    <legend>Recherche</legend>
    <span class="show-help"></span>
    <p class="help">Vous pouvez filtrer les données qui seront affichées dans les trois tableaux avec ce champ de recherches. Pour cela, il vous suffit d'entrer les critères textuels sur lesquels 
    vous voulez filtrer. Vous pouvez combiner les filtres. Par exemple, la recherche "N7 INPT perm" n'affichera que les agents permanents se trouvant à l'ENSEEIHT et étant sous
    la tutelle de l'INPT.</p>
    <input id="search_all_datatable" type="text" placeholder="Champ de recherche : date, nom, prénom, site, tutelle, présence et droits (vous pouvez les combiner)"></input>
    
</fieldset>

<fieldset>
    <legend>Tri</legend>
    <span class="show-help"></span>
    <p class="help">
        Vous pouvez réorganiser l'affichage des tableaux en les triant. Pour cela, il suffit de cliquer sur l'en-tête de la colonne selon laquelle le tri sera effectué. 
        L'ordre du tri (croissant ou décroissant) est indiqué par le sens de la flèche. Pour l'inverser, il suffit de cliquer une nouvelle fois dessus. <br />
        Il est aussi possible de trier selon plusieurs colonnes. Pour cela, il faut maintenir la touche MAJ appuyée et cliquer sur les en-têtes désirées. Le tri principal sera fait selon 
        la première colonne sélectionnée, le tri secondaire par la deuxième, ...
    </p>
</fieldset>

{% if search == 'all' %} 

    {% include 'LaplaceUserBundle:UserProfile:table.html.twig' with {
            show_role_admin: true,
            show_role_user: true,
            show_role_limited: true
    }%}
{% endif %}

{% if search == 'limited' %} 

    {%include 'LaplaceUserBundle:UserProfile:table.html.twig'
    with { show_role_limited: true }%}

{% endif %}

{% if search == 'contractuels' %}
    {%include 'LaplaceUserBundle:UserProfile:table.html.twig'
    with { show_contractuels: true,
            show_role_admin: true,
            show_role_user: true,
            show_role_limited: true}%}
{% endif %}

{% if search == 'permanents' %}
    {%include 'LaplaceUserBundle:UserProfile:table.html.twig'
    with { show_permanents: true,
            show_role_admin: true,
            show_role_user: true,
            show_role_limited: true}%}
{% endif %}

{% endblock ContentBody %}

{##############################################################################}

{% endembed %}
