{%
    set container = admin ?
        'LaplaceCommonBundle::admin-page.html.twig' :
        'LaplaceCommonBundle::user-page.html.twig'
%}


{% embed container with { page: [ 'profile', 'view' ] } %}

{% block PageTitle %}{{ parent() }} - Voir le profil ({{ profile.name }} {{ profile.firstname }}){% endblock %}

{% block ContentTitle %}{{ profile.fullName }}{% endblock %}

{% block ContentBody %}

{% if not admin %}
<p>
    Les informations ci-dessous sont strictement réservées à l'utilisateur et
    au correspondant formation, qui peuvent les modifier. Elles ne sont pas
    accessibles aux autres utilisateurs.
</p>
{% else %}
<p class="text-right">
    <i class="icon-edit"></i>
    <a href="{{ path(laplace_user ~ 'edit_profile', { username: profile.username }) }}">Modifier</a>
    <br />

    <i class="icon-trash"></i>
    <a href="{{ path(laplace_user ~ 'delete_profile', { username: profile.username }) }}">Supprimer</a>
</p>
{% endif %}

{% if is_admin == 1 %}
        <h3>Administrateur</h3>
        
        <table class="table table-striped table-bordered user-profile-table">
            <tr>
                <th>E-mails</th>
                <td class="email-{{notif}}">{% if notif %} Recevoir les e-mails de notification {% else %} Ne pas recevoir les e-mails de notification {% endif %}</td>
            </tr>
        </table>
{% endif %}

<h3>Identité</h3>

<table class="table table-striped table-bordered user-profile-table">
    
    <tr>
        <th>
            Nom
        </th>
        <td>
            {{ profile.name }} {{profile.firstname}}
        </td>
    </tr>
    
    <tr>
        <th>Login</th>
        <td>{{ profile.username }}</td>
    </tr>
    
    <tr>
        <th>Adresse email</th>
        <td>{{ profile.emailAddress }}</td>
    </tr>
    
    <tr>
        <th>
            Sexe
        </th>
        <td>
            {% if  profile.getGender() == 1 %} Femme {% else %} Homme {% endif %}
        </td>
    </tr>
    
    <tr>
        <th>
            Rôle
        </th>
        <td>
            {% if profile.getRole() == 'ROLE_ADMIN' %}
                Administrateur
            {% elseif profile.getRole() == 'ROLE_USER' %}
                Utilisateur actif
            {% else %}
                Utilisateur limité
            {% endif %}
        </td>
    </tr>
</table>

<hr />

<h3>Rattachement</h3>

<table class="table table-striped table-bordered user-profile-table">

    <tr>
        <th>Employeur</th>
        <td>{{ profile.tutelle.nom }}</td>
    </tr>

    <tr>
        <th>Site</th>
        <td>{{ profile.site.name }}</td>
    </tr>

    <tr>
        <th>Téléphone professionnel 1</th>
        <td>{{ profile.telephoneNumber1 }}</td>
    </tr>

    <tr>
        <th>Téléphone professionnel 2</th>
        <td>{{ profile.telephoneNumber2 }}</td>
    </tr>

</table>

<hr />

<h3>Situation professionnelle</h3>

<table class="table table-striped table-bordered user-profile-table">

    <tr>
        <th>Corps</th>
        <td>{{ profile.userInfo.statut.intitule }}</td>
    </tr>

{% if profile.estDoctorant() %}

    <tr>
        <th>Début de thèse</th>
        <td>{{ profile.userInfo.debutThese|localizeddate('short', 'none') }}</td>
    </tr>

    <tr>
        <th>Responsable</th>
        <td>{{ profile.userInfo.responsable }}</td>
    </tr>

    <tr>
        <th>Ecole doctorale</th>
        <td>{{ profile.userInfo.ecoleDoctorale }}</td>
    </tr>

    <tr>
        <th>Bourse</th>
        <td>{{ profile.userInfo.bourse }}</td>
    </tr>

{% endif %}

</table>

<hr />

<p class="text-right">
    <i class="icon-edit"></i>
    {% if admin %}
    <a href="{{ path(laplace_user ~ 'edit_profile', { username: profile.username }) }}">Modifier ces informations</a>
    <br />

    <i class="icon-user"></i>
    <a href="{{ path('laplace_common_user_homepage', { _switch_user: profile.username }) }}">Se connecter en tant que {{ profile.fullName }}</a>
    {% else %}
    <a href="{{ path(laplace_user ~ 'edit_my_profile') }}">Modifier ces informations</a>
    {% endif %}
</p>

{% endblock %}

{% endembed %}
