{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'system', 'data-dictionnary' ] } %}
    
    {% block PageTitle %}{{ parent() }} - Dictionnaire des données{% endblock %}

    {% block ContentTitle %}Dictionnaire des données{% endblock %}
    
    {% block includes %} 
    
        {{ parent() }}
        <script src="{{ asset('js/dictionnarymanager.js') }}"></script>
        
    {% endblock %}

    {% block ContentBody %}

         <fieldset>
            <span class="show-help"></span> <br />
            <p class="help">
                Vous pouvez ajouter dans cette section les données qui seront utilisées dans les modèles de formulaires. <br />
                Vous pouvez aussi mettre à jour les requêtes qui seront effectuées pour les récupérer lors de la génération des PDFs.
            </p>
            
            <button class="btn-template save-data" title="Sauvegarder les modifications apportées au dictionnaire">
                <i class="fa fa-save"></i>
            </button>
            
            <button class="btn-template add-data" title="Ajouter une nouvelle donnée">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </button>
            
            <table id="data-dictionnary" class="table table-striped table-bordered table-condensed cat-table">
                <tr>
                    <th>Nom de la donnée</th>
                    <th>Requête SQL associée</th>
                    <th></th>
                </tr>
                <!-- Rempli en javascript lors du chargement de la page -->
            </table>
            
            <button class="btn-template save-data" title="Sauvegarder les modifications apportées au dictionnaire">
                <i class="fa fa-save"></i>
            </button>
            
            <button class="btn-template add-data" title="Ajouter une nouvelle donnée">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </button>
            
         </fieldset>
        
    {% endblock %}
    
{% endembed %}