
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'system', 'types' ] } %}


{% block PageTitle %}{{ parent() }} - Types{% endblock %}

{% block ContentTitle %}Types{% endblock %}

{% block ContentBody %}

<h3>Modifier</h3>

{% for edit_form in edit_forms %}

{{ form_start(edit_form) }}

<fieldset>

    {{ form_rest(edit_form.type) }}

    {{ form_rest(edit_form) }}

</fieldset>

{{ form_end(edit_form) }}

{% endfor %}

<hr />

{##############################################################################}

<h3>Créer / Supprimer / Remplacer</h3>

{{ form_start(create_form) }}

<fieldset>

    <legend>Créer un type</legend>

    {{ form_rest(create_form.type) }}

    {{ form_rest(create_form) }}

</fieldset>

{{ form_end(create_form) }}



{{ form_start(delete_form) }}

<fieldset>

    <legend>Supprimer un type</legend>

    {{ form_row(delete_form.type) }}

    {{ form_row(delete_form.do, { 'attr': { 'class': 'btn-danger' } }) }}

    {{ form_rest(delete_form) }}

</fieldset>

{{ form_end(delete_form) }}


{{ form_start(replace_form) }}

<fieldset>

    <legend>Remplacer un type par un autre</legend>

    {{ form_row(replace_form.from) }}

    {{ form_row(replace_form.to) }}

    {{ form_row(replace_form.do, { 'attr': { 'class': 'btn-danger' } }) }}

    {{ form_rest(replace_form) }}

</fieldset>

{{ form_end(replace_form) }}

{% endblock %}

{% endembed %}
