
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'system', 'categories' ] } %}

{% block PageTitle %}{{ parent() }} - Catégories{% endblock %}

{% block ContentTitle %}Catégories{% endblock %}

{% block ContentBody %}

<h3>Modifier</h3>

{% for edit_form in edit_forms %}

{{ form_start(edit_form) }}

<fieldset>

    {{ form_rest(edit_form.category) }}

    {{ form_rest(edit_form) }}

</fieldset>

{{ form_end(edit_form) }}

{% endfor %}

<hr />

{##############################################################################}

<h3>Créer / Supprimer</h3>

{{ form_start(create_form) }}

<fieldset>

    <legend>Créer une catégorie</legend>

    {{ form_rest(create_form.category) }}

    {{ form_rest(create_form) }}

</fieldset>

{{ form_end(create_form) }}



{{ form_start(delete_form) }}

<fieldset>

    <legend>Supprimer une catégorie</legend>

    {{ form_row(delete_form.category) }}

    {{ form_row(delete_form.do, { 'attr': { 'class': 'btn-danger' } }) }}

    {{ form_rest(delete_form) }}

</fieldset>

{{ form_end(delete_form) }}

{% endblock %}

{% endembed %}
