
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'system', 'domains' ] } %}


{% block PageTitle %}{{ parent() }} - Domaines{% endblock %}

{% block ContentTitle %}Domaines{% endblock %}

{% block ContentBody %}

<h3>Modifier</h3>

{% for edit_form in edit_forms %}

{{ form_start(edit_form) }}

<fieldset>

    {{ form_rest(edit_form.domain) }}

    {{ form_rest(edit_form) }}

</fieldset>

{{ form_end(edit_form) }}

{% endfor %}

<hr />

{##############################################################################}

<h3>Créer / Supprimer</h3>

{{ form_start(create_form) }}

<fieldset>

    <legend>Créer un domaine</legend>

    {{ form_rest(create_form.domain) }}

    {{ form_rest(create_form) }}

</fieldset>

{{ form_end(create_form) }}



{{ form_start(delete_form) }}

<fieldset>

    <legend>Supprimer un domaine</legend>

    {{ form_row(delete_form.domain) }}

    {{ form_row(delete_form.do, { 'attr': { 'class': 'btn-danger' } }) }}

    {{ form_rest(delete_form) }}

</fieldset>

{{ form_end(delete_form) }}

{% endblock %}

{% endembed %}
