{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'system', 'templates' ] } %}
    
    {% block PageTitle %}{{ parent() }} - Modèles des formulaires{% endblock %}

    {% block ContentTitle %}Modèles des formulaires{% endblock %}
    
    {% block includes %} 
    
        {{ parent() }}
        <script src="{{ asset('js/mytemplatemanager.js') }}"></script>
        
    {% endblock %}

    {% block ContentBody %}

        <fieldset>
            <legend>Tous les modèles</legend>
            <span class="show-help"></span> <br />
            <p class="help">
                Ici, vous pouvez parcourir tous les modèles disponibles sur le serveur. Pour l'éditer, il vous suffit de le sélectionner en cliquant dessus. <br/>
                Vous pouvez aussi uploader de nouveaux modèles de formulaire au format pdf.
            </p>
            
            <div>
            
                <div class="btn-controls">
                    <button id="delete-template" class="btn-template" title="Supprimer le modèle sélectionné">
                        <i class="fa fa-times-circle-o"></i>
                    </button>
                </div>

                <div id="pdf-thumb">
                    {% for thumb in pdf_thumb %}
                        <img src="{{ asset('images/thumbnails/' ~ thumb.png ~ '/0.png') }}" alt="miniature du pdf modèle : {{thumb.pdf}}" class="thumb" selected="false" png="{{thumb.png}}" pdf="{{thumb.pdf}}" nb-pages="{{thumb.nbpages}}"/>
                    {% endfor %}
                </div>

                <form enctype="multipart/form-data" class="dropzone" action="/admin/modeles" method="post" name="upload-template" id="upload-template">

                    {{ form_widget(form) }}

                {{ form_end(form) }}

                <div id="show-real-size"></div>
                
            </div>
        </fieldset>
            
        <fieldset>
            <legend>Modèle sélectionné</legend>
            
            <span class="show-help"></span> <br />
            <p class="help">
                Dans cette section, vous pouvez modifier le modèle sélectionné. Pour cela, vous pouvez naviguer entre les différentes pages du modèle grâce au menu de gauche. 
                Une fois sur la page que vous voulez modifier, il vous suffit de déplacer les badges de données sur la page par glisser-déposer. Ainsi lorsque l'utilisateur 
                téléchargera le modèle, la puce "Nom" sera remplacé par son nom réel. <br />
                Vous pouvez aussi choisir la largeur maximale qu'occupera la donnée sur le fichier généré. Pour cela vous pouvez redimensionner la taille de la puce 
                en placant votre souris près d'un des bords latéreaux et en "l'étirant". <br />
                Vous pouvez aussi rajouter des zones de textes qui seront affichées telles quelles sur tous les formulaires téléchargés.
            </p>
            
            <div>
                
                <div class="btn-controls">
                    <button id="save-template" class="btn-template" title="Sauvegarder les modifications du modèle">
                        <i class="fa fa-save"></i>
                    </button>

                    <br />

                    <button id="add-text" class="btn-template" title="Ajouter une zone de texte au modèle">
                        <i class="fa fa-font" aria-hidden="true"></i>
                    </button>

                    <br />

                </div>
                
                <div id="data-badges">
                </div>
                
            </div>
            
            <div>
                <div id="nav-thumb">

                </div>

                <div id="full-thumb">

                </div>
            </div>
            
        </fieldset>
                
    {% endblock %}
    
{% endembed %}