/* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar-wrapper .navbar {
    
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
    box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
    padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
    padding: 15px 20px;
}


.modal-body .datepicker {
    margin: auto;
}

/* General page styles */

body {
    background-color: #EEEEEE;
    
}

.well {
    background-color: white;
}

p {
    text-align: justify;
}

select[multiple] {
    height: 200px;
}

/* Optional fields in forms */

.optional {
    font-style: italic;
}



/* Category Table */

.cat-table td {
    padding-left: 40px;
}

/* Event Table */

.evt-table .evt-date,
.evt-table .evt-link {
    width: 20%;
}

.evt-table .evt-link {}

/* Thread Table */

.thread-table .thread-date,
.thread-table .thread-author {
    width: 20%;
}

.thread-table .thread-title {}

/* User Table */

.user-table .user-since,
.user-table .user-link {
    text-align: center;
}

.user-table .user-name {
    text-align: center;
    width : 20%;
}

.user-table .user-statut{
    text-align: center;
    width: 14%;
}

.user-table .user-site{
    text-align: center;
    width: 14%;
}

.user-table .user-tutelle{
    text-align: center;
    width: 7%;
}

.user-table .user-profile-table{
    text-align: center;
    width : 38%;
}

.user-table .user-sexe{
    text-align: center;
    width :2%;
}

/* User Profile Table */


/* Dashboard Alerts */

.laplace-alert:nth-child(10) ~ .laplace-alert {
    display: none;
}

.laplace-alert ~ .laplace-no-alert {
    display: none;
}

/* Needs Summary Table */

.needs-summary-table .needs-summary-cat {
    width: 50%;
}


.span9{
    min-width: 1000px;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1310px;
}

.menu ul{
    display:none;
}

.menu a:hover{
    text-decoration: none;
}

.menu ul.dropit-submenu{
    background-color:#fff;
    border:1px solid #b2b2b2;
    padding:6px 0;
    margin:3px 0 0 1px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.15);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.15);
    box-shadow:0px 1px 3px rgba(0,0,0,0.15);
}

.menu ul.dropit-submenu a{
    display:block;
    font-size:14px;
    line-height:25px;
    color:#7a868e;
    padding:0 18px;
}

.menu ul.dropit-submenu a:hover{
    background:#248fc1;
    color:#fff;
    text-decoration:none;
}

.table-bordered thead:first-child tr:first-child > th{
    border: 2px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
}

.table-bordered thead:first-child tr:last-child > th{
    border: 2px solid #ddd;
    border-top:none;
    border-right:none;
}

.table-bordered thead:first-child tr:first-child > th:first-child{
    border-right: none;
}

.table-bordered thead:first-child tr > th:last-child{
    border-right: 1px solid #ddd;
}

.table-bordered thead:first-child tr:last-child > .void-cell{
    border:none;
    border-bottom: 2px solid #ddd;
}

.table-bordered thead:first-child tr:last-child > .void-cell:last-child{
    border-right: 1px solid #ddd;
}

.table-bordered thead:first-child tr:last-child > .user-sexe + .void-cell{
    border-left: 2px solid #ddd;
}

#search_all_datatable{
    width:100%;
}

.accordion-header{
    cursor: pointer;
}

.show-help{
    cursor: pointer;
    margin: 5px;
    margin-bottom: 15px;
}

.help{
    display: none;
}

#nb-requests, #nb-requests-util{
    font-weight: bold;
}

.email-1, .email-0{
    font-weight: bold;
}
.email-1{
    color: green;
}
.email-0{
    color:red;
}

.file-csv{
    width:40px;
    height:40px;
}

#file-control button i{
    font-size:2em;
}

.file{
    padding-top: 3px;
}

.file[selection="false"]{
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 3px;
    background-color: #78c4ef;
    border: 2px solid #2fa4e7;
    color: white;
    cursor : pointer;
    padding: 0px;
}

.file[selection="false"]:hover{
    box-shadow: 1px 1px 5px 5px #00CC00;
}

.file[selection="true"]{
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 3px;
    background-color: #2fa4e7;
    border: 3px solid #00CC00;
    border-radius: 5px;
    color: white;
    cursor : pointer;
    padding: 0px;
}

.file-info{
    color: black;
    display: inline-block;
    background-color: white;
    margin: 0px;
    border-radius: 0px;
    padding: 5px;
}

[selection="true"] .file-info{
    border-radius: 0px 0px 2px 2px;
}

.file{
    padding: 10px;
}

.scroll{
    overflow:auto;
    margin-bottom: 20px;
}

#all-container{
    background-color: #e3e3e3;
    border-radius: 15px;
    margin-top:10px;
    padding-bottom: 20px;
}

#all-container h4{
    text-align: center;
}

#file-control{
    text-align: center;
    background-color: #ababab;
    margin:0%;
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
}

#file-control button{
    margin-right: 10px;
}

#files-container, #folder-container{
    background-color: white;
    overflow: scroll;
    max-height: 300px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
}

#show-path{
    background-color: #ccc;
    text-align: center;
    font-weight: bold;
}

#upload-template{
    display: inline-block;
    width: 30%;
    margin-top: 0px;
    vertical-align: top;
    height: 180px;
}

#pdf-thumb{
    display: inline-block;
    width: 60%;
    max-height: 180px;
    overflow: scroll;
    margin-bottom: 0px;
}

#pdf-thumb img{
    width: 20%;
    height: auto;
    margin: 5px;
}

.thumb{
    cursor: pointer;
}

.thumb[selection="true"]{
    border: 3px solid #00CC00;
    border-radius: 5px;
}

#nav-thumb{
    width:150px;
    height:600px;
    overflow: scroll;
    display: inline-block;
}

#full-thumb{
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    margin-left: 10px;
}

#nav-thumb img{
    width:90%;
    margin-bottom: 5px;
}

.thumb.page[selection="true"]{
    border: 3px solid blue;
    border-radius: 5px;
}

.btn-controls{
    display: inline-block;
    vertical-align: top;
    height:100%;
    border: 1px solid grey;
    padding: 4px;
    border-radius: 5px;
    height: 160px;
}

.btn-template{
    border:2px solid;
    font-size: 35px;
    background-color:white;
    border-radius:5px;
    padding-left: 7px;
    padding-right: 7px; 
    margin-bottom: 3px;
    width: 50px;
}

.btn-template[disabled]{
    color:grey;
    border-color: grey;
    background-color: lightgrey;
}

#delete-template:not([disabled]){
    color:red;
    border-color:red;
}

#delete-template:not([disabled]):hover{
    color:white;
    background-color: red;
}

#save-template:not([disabled]), .save-data{
    color:#00CC00;
    border-color: #00CC00;
}

#save-template:not([disabled]):hover, .save-data:hover{
    color:white;
    background-color: #00CC00;
}

#add-text:not([disabled]), #btn-cancel{
    color:blue;
    border-color: blue;
}

#add-text:not([disabled]):hover, #btn-cancel:hover{
    color:white;
    background-color: blue;
}

#add-checkbox:not([disabled]){
    color:purple;
    border-color: purple;
}

#add-checkbox:not([disabled]):hover{
    color:white;
    background-color: purple;
}

#data-badges{
    height:180px;
    width:90%;
    display: inline-block;
    border: 1px solid lightgray;
    margin-left: 20px;
}

.data-badge:hover{
    cursor: grab;
}

.badge{
    margin:3px;
    margin-left:0px;
    position:relative;
}

.move-text{
    vertical-align: center;
    margin: 2px;
}

#full-thumb .drag-text{
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.3);
}

.drag-text{
    cursor: grab;
}

.drag-text i{
    display: inline-block;
    font-size: 1.7em;
    margin-right: 3px;
    margin-left: 3px;
}

.ui-draggable-dragging{
    cursor: grabbing;
}

.remove-text{
    cursor: pointer;
}

#data-dictionnary input{
    width: 90%;
}

.add-data{
    color:blue;
    border-color: blue;
}

.add-data:hover{
    color:white;
    background-color: blue;
}