{#

    Ce modèle étend la structure du template ::layout.html.twig et définit la
    structure de toutes les pages visibles par un administrateur.

    Ce modèle est conçu pour être imbriqué avec un tag {% embed %}. Il
    est nécessaire de définir une variable "page" définit selon les explications
    du fichier "ORGANISATION_DES_PAGES.TXT".

#}

{% set inverse_navbar = true %}

{% extends '::layout.html.twig' %}

{% set laplace_common       = 'laplace_common_adm_'      %}
{% set laplace_user         = 'laplace_user_adm_'        %}
{% set laplace_training     = 'laplace_training_adm_'    %}

{% block PageTitle %}{{ parent() }} - Espace Administrateur{% endblock %}

{% block NavbarLeft %}
    <li{{ page[0] == 'profile' ? ' class="active"' : '' }}>
        <a href="{{ path(laplace_user ~ 'all_profiles') }}">
            <i class="icon-user icon-white"></i>
            Profils
        </a>
    </li>
    <li{{ page[0] == 'need' ? ' class="active"' : '' }}>
        <a href="{{ path(laplace_training ~ 'all_needs') }}">
            <i class="icon-star-empty icon-white"></i>
            Besoins de formation
        </a>
    </li>
    <li{{ page[0] == 'request' ? ' class="active"' : '' }}>
        <a href="{{ path(laplace_training ~ 'all_requests') }}">
            <i class="icon-star icon-white"></i>
            Inscriptions
        </a>
    </li>
    <li{{ page[0] == 'file' ? ' class="active"' : '' }}>
        <a href="{{ path(laplace_training ~ 'all_files') }}">
            <i class="icon-file icon-white"></i>
            Fichiers
        </a>
    </li>
    <li{{ page[0] == 'thread' ? ' class="active"' : '' }}>
        <a href="{{ path(laplace_training ~ 'all_threads') }}">
            <i class="icon-comment icon-white"></i>
            Discussions
        </a>
    </li>
    <li{{ page[0] == 'system' ? ' class="active"' : '' }}>
        <a href="{{ path(laplace_common ~ 'dashboard') }}">
            <i class="icon-wrench icon-white"></i>
            Système
        </a>
    </li>
{% endblock %}

{% block NavbarRight %}
    <li>
        <a href="{{ path('laplace_common_user_homepage') }}">
            <i class="icon-arrow-right icon-white"></i>
            Espace personnel
        </a>
    </li>

    {{ parent() }}
{% endblock %}

{% block Sidebar %}

    {% if page[0] == 'system' %}

        {# ONGLET SYSTEME #}
        {% include 'LaplaceCommonBundle:Sidebar:adm-system.html.twig' %}

    {% elseif page[0] == 'profile' %}

        {# ONGLET PROFILS #}
        {% include 'LaplaceCommonBundle:Sidebar:adm-profile.html.twig' %}

    {% elseif page[0] == 'need' %}

        {# ONGLET BESOINS #}
        {% include 'LaplaceCommonBundle:Sidebar:adm-need.html.twig' %}

    {% elseif page[0] == 'request' %}

        {# ONGLET DEMANDES #}
        {% include 'LaplaceCommonBundle:Sidebar:adm-request.html.twig' %}

    {% elseif page[0] == 'thread' %}

        {# ONGLET DISCUSSIONS #}
        {% include 'LaplaceCommonBundle:Sidebar:adm-thread.html.twig' %}

    {% endif %}

{% endblock %}
