{#
    Ce modèle représente la page d'accueil du site.
#}

{% extends '::layout.html.twig' %}


{% block PageTitle %}{{ parent() }} - Accueil{% endblock %}


{% block NavbarLeft %}
<li{% if tab == 'home' %} class="active"{% endif %}>
    <a href="{{ path('laplace_common_homepage') }}">
        <i class="icon-home icon-white"></i>
        Accueil
    </a>
</li>
<li{% if tab == 'new-profile' %} class="active"{% endif %}>
    <a href="{{ path('laplace_user_new_profile') }}">
        <i class="icon-folder-open icon-white"></i>
        Inscription
    </a>
</li>
{#
<li{% if tab == 'needs' %} class="active"{% endif %}>
    <a href="{{ path('laplace_training_all_needs') }}">Tous les besoins</a>
</li>
<li{% if tab == 'requests' %} class="active"{% endif %}>
    <a href="{{ path('laplace_training_all_requests') }}">Toutes les demandes</a>
</li>
#}
{% endblock %}

{% block NavbarRight %}
    <li>
        <a href="{{ path('laplace_common_user_homepage') }}">
            <i class="icon-user icon-white"></i>
            Espace personnel
        </a>
    </li>
    {{ parent() }}
{% endblock %}

{% block MainContainerOuter %}
        <!-- Main Container -->
        <div class="container">
            <div class="row">
                {% block MainContainer %}

                    {% block ContentOuter %}
                    <!-- BODY -->
                    <div class="span12">
                        <div class="well">
                            {% block Content %}

                            {{ parent() }}

                            {% endblock %}
                        </div>
                    </div>
                    {%endblock %}

                {% endblock MainContainer %}
            </div>
        </div>
{% endblock MainContainerOuter %}
