{#

    Ce modèle étend la structure du template ::layout.html.twig et définit la
    structure de toutes les pages visibles par un utilisateur
    connecté (espace personnel).

    Ce modèle est conçu pour être imbriqué avec un tag {% embed %}. Il
    est nécessaire de définir une variable "page" définit selon les explications
    du fichier "ORGANISATION_DES_PAGES.TXT".

#}

{% extends '::layout.html.twig' %}

{% set laplace_common       = 'laplace_common_'      %}
{% set laplace_user         = 'laplace_user_'        %}
{% set laplace_training     = 'laplace_training_'    %}

{% block PageTitle %}{{ parent() }} - Espace Personnel{% endblock %}

{% block NavbarLeft %}
    <li{{ page[0] == 'profile' ? ' class="active"' : '' }}>
        <a href="{{ path(laplace_user ~ 'view_my_profile') }}">
            <i class="icon-user icon-white"></i>
            Profil
        </a>
    </li>

    {% if is_granted('ROLE_USER') %}

    <li{{ page[0] == 'need' ? ' class="active"' : '' }}>
        <a href="{{ path(laplace_training ~ 'all_needs') }}">
            <i class="icon-star-empty icon-white"></i>
            Besoins de formation
        </a>
    </li>
    <li{{ page[0] == 'request' ? ' class="active"' : '' }}>
        <a href="{{ path(laplace_training ~ 'all_requests') }}">
            <i class="icon-star icon-white"></i>
            Inscriptions
        </a>
    </li>
    <li{{ page[0] == 'file' ? ' class="active"' : '' }}>
        <a href="{{ path(laplace_training ~ 'all_files') }}">
            <i class="icon-file icon-white"></i>
            Fichiers
        </a>
    </li>
    <li{{ page[0] == 'thread' ? ' class="active"' : '' }}>
        <a href="{{ path(laplace_training ~ 'all_threads') }}">
            <i class="icon-comment icon-white"></i>
            Discussions
        </a>
    </li>
    <li{{ page[0] == 'history' ? ' class="active"' : '' }}>
        <a href="{{ path(laplace_training ~ 'full_history') }}">
            <i class="icon-time icon-white"></i>
            Historique
        </a>
    </li>

    {% endif %}

{% endblock %}

{% block NavbarRight %}
    {% if is_granted('ROLE_ADMIN') %}
    <li>
        <a href="{{ path(laplace_common ~ 'adm_homepage') }}">
            <i class="icon-arrow-right icon-white"></i>
            Espace Administrateur
        </a>
    </li>
    {% endif %}

    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
    <li>
        <a href="{{ path(laplace_user ~ 'view_my_profile', { _switch_user: '_exit' }) }}">
            <i class="icon-share-alt icon-white"></i>
            Redevenir Administrateur
        </a>
    </li>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block Sidebar %}

    {% if page[0] == 'profile' %}

        {# ONGLET PROFILS #}
        {% include 'LaplaceCommonBundle:Sidebar:user-profile.html.twig' %}

    {% elseif page[0] == 'need' %}

        {# ONGLET BESOINS #}
        {% include 'LaplaceCommonBundle:Sidebar:user-need.html.twig' %}

    {% elseif page[0] == 'request' %}

        {# ONGLET DEMANDES #}
        {% include 'LaplaceCommonBundle:Sidebar:user-request.html.twig' %}

    {% elseif page[0] == 'thread' %}

        {# ONGLET DISCUSSIONS #}
        {% include 'LaplaceCommonBundle:Sidebar:user-thread.html.twig' %}

    {% elseif page[0] == 'history' %}

        {# ONGLET HISTORIQUE #}
        {% include 'LaplaceCommonBundle:Sidebar:user-history.html.twig' %}

    {% endif %}

{% endblock %}
