
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'system', 'needs-summary' ] } %}

{% block PageTitle %}{{ parent() }} - Résumé des besoins non-pourvus{% endblock %}

{% block ContentTitle %}Résumé des besoins non pourvus{% endblock %}

{% block ContentBody %}



{% if summary is defined %}
   <button type="button" class="btn btn-primary"><img class="file-csv file-csv-needs" src="{{ asset('images/csv-icon.png') }}" alt="CSV button"></i></button>
{% for type, section in summary.types %}

<h5>{{ type }}</h5>

    {% for category, table in section.categories %}
        
    <table class="table table-striped table-bordered needs-summary-table">
        <tr>
            <th class="needs-summary-cat">
                {% if category is empty %}
                <em>Non classés</em>
                {% else %}
                {{ category }}
                {% endif %}
            </th>
            {% for tutelle in summary.columns %}
            <th class="needs-summary-tutelle">{{ tutelle }}</th>
            {% endfor %}
        </tr>

        {% for row, counters in table.rows %}
        <tr>
            <td>{{ row }}</td>
            {% for tutelle in summary.columns %}
            <td>{{ counters.get(tutelle)|default('') }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>

    {% endfor %}

{% endfor %}

<hr />

{% endif %}

<script>
    //On active le téléchargement des CSV
    $('.file-csv-needs').parent().click(function(){
        window.location = window.location.pathname + '/csv';
    });
</script>
{% endblock %}

{% endembed %}
