
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'system', 'requests-summary' ] } %}

{% block PageTitle %}{{ parent() }} - Bilan global de réalisation{% endblock %}

{% block ContentTitle %}Bilan global de réalisation{% endblock %}

{% block ContentBody %}

<h3>Générer un bilan</h3>

<span class="show-help"></span>
<p class="help">
    Cet outil permet de générer un résumé des demandes réalisées sur la période demandée.
    Seules les demandes validées et pour lesquelles la date de la formation a été renseignée
    seront incluses. Pour qu'une inscription soit comptabilisée, elle doit être acceptée et
    l'utilisateur doit avoir assisté à la formation.
</p>

{{ form_start(summary_form) }}

<fielset>

    <legend>Choisir une période</legend>

    {{ form_rest(summary_form) }}

</fieldset>

{{ form_end(summary_form) }}

{% if summary is defined %}

<p>
    Bilan <strong id="type" bilan="{{summary.type}}"> par {{summary.type}} </strong> du <strong id="from" date="{{summary.from|localizeddate("medium", "none", null, null, "dd-MM-yyyy") }}">{{ summary.from|localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }}</strong> au
    <strong id="to" date="{{summary.to|localizeddate("medium", "none", null, null, "dd-MM-yyyy") }}">{{ summary.to|localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }}</strong>.
</p>

<button type="button" class="btn btn-primary"><img class="file-csv file-csv-requests" src="{{ asset('images/csv-icon.png') }}" alt="CSV button"></i></button>

{% for type, section in summary.types %}

<h5>{{ type }}</h5>

    {% for category, table in section.categories %}
        <div class="scroll">
    <table class="table table-striped table-bordered needs-summary-table">
        <tr>
            <th class="needs-summary-cat">
                {% if category is empty %}
                    <em>Non classés</em>
                {% else %}
                    {{ category }}
                {% endif %}
            </th>
            {% for year in summary.columns %}
                <th class="needs-summary-tutelle">{{ year }}</th>
            {% endfor %}
        </tr>

        {% for row, counters in table.rows %}
        <tr>
            <td>{{ row }}</td>
            {% for year in summary.columns %}
                <td>{% if counters.get(year) != null %} {{ counters.get(year) }} <span style="color: {% if counters.get(year) > counters.getAttended(year) %}red{% else %}gray{% endif%};" title="Nombre d'agents ayant indiqué avoir participé à la formation">({{counters.getAttended(year)}})</span> {% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
        </div>
    {% endfor %}

{% endfor %}

<hr />

{% endif %}

<script>
    if($('[type="checkbox"]:checked').length == 0){
        $('[type="checkbox"]').prop('checked', true);
    }

    $('.file-csv-requests').parent().click(function(){
        var path = window.location.pathname + '/csv/'  + $('#from').attr('date') + '/' + $('#to').attr('date') + '/' + $('#type').attr('bilan') + '/';

        var already = [];

        $('.checkbox').each(function(index, element){
            
            var current = $(element).text().replace(/(\r\n|\n|\r)/gm,"").trim();

            if($(element).find('input').is(':checked')){
                path += current;
                path += '|';

                already.push(current);
            }
        });
        path = path.substring(0, path.length-1);
        window.location = path;
    });
</script>

{% endblock %}

{% endembed %}
