
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'system', 'tutelles' ] } %}

{% block PageTitle %}{{ parent() }} - Tutelles{% endblock %}

{% block ContentTitle %}Tutelles{% endblock %}

{% block ContentBody %}

<h3>Renommer</h3>

{% for edit_form in edit_forms %}

{{ form_start(edit_form) }}

<fieldset>

    {{ form_rest(edit_form.tutelle) }}

    {{ form_rest(edit_form) }}

</fieldset>

{{ form_end(edit_form) }}

{% endfor %}

<hr />

{##############################################################################}

<h3>Créer / Supprimer / Remplacer</h3>

{{ form_start(create_form) }}

<fieldset>

    <legend>Créer une tutelle</legend>

    {{ form_rest(create_form.tutelle) }}

    {{ form_rest(create_form) }}

</fieldset>

{{ form_end(create_form) }}



{{ form_start(delete_form) }}

<fieldset>

    <legend>Supprimer une tutelle</legend>

    {{ form_row(delete_form.tutelle) }}

    {{ form_row(delete_form.do, { 'attr': { 'class': 'btn-danger' } }) }}

    {{ form_rest(delete_form) }}

</fieldset>

{{ form_end(delete_form) }}


{{ form_start(replace_form) }}

<fieldset>

    <legend>Remplacer une tutelle par une autre</legend>

    {{ form_row(replace_form.from) }}

    {{ form_row(replace_form.to) }}

    {{ form_row(replace_form.do, { 'attr': { 'class': 'btn-danger' } }) }}

    {{ form_rest(replace_form) }}

</fieldset>

{{ form_end(replace_form) }}

{% endblock %}

{% endembed %}
