
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'system', 'statuts_agents' ] } %}

{% block PageTitle %}{{ parent() }} - Corps Agents{% endblock %}

{% block ContentTitle %}Corps Agents{% endblock %}

{% block ContentBody %}

<h3>Modifier</h3>

{% for edit_form in edit_forms %}

{{ form_start(edit_form) }}

<fieldset>

    {{ form_rest(edit_form.statut) }}

    {{ form_rest(edit_form) }}

</fieldset>

{{ form_end(edit_form) }}

{% endfor %}

<hr />

{##############################################################################}

<h3>Créer / Supprimer / Remplacer</h3>

{{ form_start(create_form) }}

<fieldset>

    <legend>Créer un statut agent</legend>

    {{ form_rest(create_form.statut) }}

    {{ form_rest(create_form) }}

</fieldset>

{{ form_end(create_form) }}



{{ form_start(delete_form) }}

<fieldset>

    <legend>Supprimer un statut agent</legend>

    {{ form_row(delete_form.statut) }}

    {{ form_row(delete_form.do, { 'attr': { 'class': 'btn-danger' } }) }}

    {{ form_rest(delete_form) }}

</fieldset>

{{ form_end(delete_form) }}



{{ form_start(replace_form) }}

<fieldset>

    <legend>Remplacer un statut par un autre</legend>

    {{ form_row(replace_form.from) }}

    {{ form_row(replace_form.to) }}

    {{ form_row(replace_form.do, { 'attr': { 'class': 'btn-danger' } }) }}

    {{ form_rest(replace_form) }}

</fieldset>

{{ form_end(replace_form) }}

{% endblock %}

{% endembed %}
