
<h3>Nouvelle réponse</h3>

<p>
<b>{{ thread.author.fullName }}</b> a répondu à la discussion intitulée
<b>{{ thread.title }}</b>.
</p>

<blockquote>{{ message.text|nl2br }}</blockquote>

<p>
La discussion est accessible à l'adresse suivante :<br />
<a href="{{ url }}">{{ url }}</a>
</p>
