
<h3>Nouvelle discussion</h3>

<p>
Une nouvelle discussion, intitulée <b>{{ thread.title }}</b>, a été ouverte
par <b>{{ thread.author.fullName }}</b>.
</p>

<p>
La discussion est accessible à l'adresse suivante :<br />
<a href="{{ url }}">{{ url }}</a>
</p>
