
<h3>Nouvelle demande</h3>

<p>
Une nouvelle demande, intitulée <b>{{ request.title }}</b>, a été créée
par <b>{{ request.author.fullName }}</b>.
</p>

<p>
La demande est accessible à l'adresse suivante :<br />
<a href="{{ url }}">{{ url }}</a>
</p>
