
<h3>Nouvelle inscription à une demande</h3>

<p>
<b>{{ subscription.user.fullName }}</b> s'est inscrit(e) à la demande intitulée
<b>{{ subscription.request.title }}</b>.
</p>

<p>
La demande est accessible à l'adresse suivante :<br />
<a href="{{ url }}">{{ url }}</a>
</p>
