
<h3>Mise à jour de votre demande de formation</h3>

<p>
{{ subscription.user.fullName }},<br />
<br />
Vous vous êtes inscrit(e) à la formation intitulée
<b>{{ subscription.request.title }}</b>
{% if subscription.accepted is not sameas(null) %}
et votre demande vient d'être
<b>{% if subscription.accepted %}acceptée{% else %}refusée{% endif %}</b>
par le correspondant formation.
{% else %}
et votre demande est désormais
<b>en attente de validation</b>.
{% endif %}
</p>
<p>
La demande est accessible à l'adresse suivante :<br />
<a href="{{ url }}">{{ url }}</a>
</p>
