
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'thread', 'delete' ] } %}

{% block PageTitle %}{{ parent() }} - Supprimer une discussion{% endblock %}

{% block ContentTitle %}Supprimer une discussion{% endblock %}

{% block ContentBody %}

<p>
    La suppression de la discussion <a href="{{ path(laplace_training ~ 'view_thread', { 'id': thread.id }) }}">{{ thread.title }}</a>
    entrainera également la suppression de tous les messages de la discussion.
    <strong>Attention ! La suppression est irréversible.</strong>
</p>

{{ form_start(delete_form) }}

<fieldset>

    <legend>Supprimer une discussion</legend>

    {{ form_row(delete_form.delete) }}

    {{ form_row(delete_form.do, { 'attr': { 'class': 'btn-danger' } }) }}

    {{ form_rest(delete_form) }}

</fieldset>

{{ form_end(delete_form) }}

{% endblock %}

{% endembed %}
