
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'thread', 'edit' ] } %}

{% block PageTitle %}{{ parent() }} - Modifier une discussion{% endblock %}

{% block ContentTitle %}Modifier une discussion{% endblock %}

{% block ContentBody %}

{{ form_start(edit_form) }}

<fieldset>
    <legend>Modifier une discussion</legend>

    {{ form_rest(edit_form.thread) }}

    {{ form_rest(edit_form) }}

</fieldset>

{{ form_end(edit_form) }}



{{ form_start(add_participant_form) }}

<fieldset>
    <legend>Ajouter un participant</legend>

    Les personnes suivantes participent déjà à la discussion :
    <ul>
    {% if participants is empty %}
        <li><em>Aucun participant !</em></li>
    {% else %}
        {% for participant in participants %}
        <li>{{ participant.fullName }}</li>
        {% endfor %}
    {% endif %}
    </ul>

    <br />

    {{ form_rest(add_participant_form) }}

</fieldset>

{{ form_end(add_participant_form) }}



{% if rem_participant_form is not null %}

{{ form_start(rem_participant_form) }}

<fieldset>
    <legend>Retirer un participant</legend>

    <p>
        Les messages de la personne seront conservés mais celle-ci ne pourra
        plus accéder à la discussion.
    </p>

    {{ form_rest(rem_participant_form) }}

</fieldset>

{{ form_end(rem_participant_form) }}

{% endif %}

{% endblock %}

{% endembed %}
