
<table class="table table-striped table-bordered thread-table">

    <tr>
        <th class="thread-author">Auteur</th>
        <th class="thread-title">Titre</th>
        <th class="thread-date">Date</th>
    </tr>

{% if threads is empty %}
    <tr>
        <td colspan="3"><em>Aucune discussion</em></td>
    </tr>
{% endif %}

{% for threadinfo in threads %}

    <tr>
        <td class="thread-author">
            {% if admin %}
            <a href="{{ path(laplace_user ~ 'view_profile', { username: threadinfo.author.username }) }}">
                {{- threadinfo.author.fullName -}}
            </a>
            {% else %}
                {{- threadinfo.author.fullName -}}
            {% endif %}
        </td>
        <td class="thread-title">
            <a href="{{ path(laplace_training ~ 'view_thread', { id: threadinfo.thread.id }) }}">
                {{ threadinfo.thread.title }}
            </a>
        </td>
        <td class="thread-date">
            {{ threadinfo.thread.date|localizeddate('long', 'none') }}
        </td>
    </tr>

{% endfor %}

</table>
