{%
    set container = admin ?
        "LaplaceCommonBundle::admin-page.html.twig" :
        "LaplaceCommonBundle::user-page.html.twig"
%}

{% embed container with { page: [ 'thread', 'view' ] } %}

{% block PageTitle %}{{ parent() }} - {{ thread.title }}{% endblock %}

{% block ContentTitle %}{{ thread.title }}{% endblock %}

{##############################################################################}

{% block ContentBody %}

{% if thread.need %}
<h5>Besoin associé à la discussion</h5>
{%
    include 'LaplaceTrainingBundle::category-breadcrumb.html.twig' with {
        reference:
            thread.need,
        link:
            path(laplace_training ~ 'view_need', { 'id': thread.need.id })
    }
%}
{% endif %}

{% if thread.request %}
<h5>Demande associée à la discussion</h5>
{%
    include 'LaplaceTrainingBundle::category-breadcrumb.html.twig' with {
        reference:
            thread.request,
        link:
            path(laplace_training ~ 'view_request', { 'id': thread.request.id })
    }
%}
{% endif %}

<h5>Informations sur la discussion</h5>

{% if not admin %}

<p>
    Discussion ouverte par {{ thread.author.fullName }},
    <strong>le {{ thread.date|localizeddate('full', 'short') }}</strong>
    entre les personnes suivantes :
    <ul>
    {% for participant in participants %}
        <li>{{ participant.fullName }}</li>
    {% endfor %}
        <li><em>Correspondant formation</em></li>
    </ul>
</p>

{% else %}

<p>
    Discussion ouverte par
    <a href="{{ path(laplace_user ~ 'view_profile', { 'username': thread.author.username }) }}">{{ thread.author.fullName }}</a>,
    <strong>le {{ thread.date|localizeddate('full', 'short') }}</strong>
    entre les personnes suivantes :
    <ul>
    {% for participant in participants %}
        <li><a href="{{ path(laplace_user ~ 'view_profile', { 'username': participant.username }) }}">{{ participant.fullName }}</a></li>
    {% endfor %}
        <li><em>Correspondant formation</em></li>
    </ul>
</p>

<p class="text-right">

    <i class="icon-edit"></i>
    <a href="{{ path(laplace_training ~ 'edit_thread', { 'id': thread.id }) }}">Modifier</a>

    <br />

    <i class="icon-trash"></i>
    <a href="{{ path(laplace_training ~ 'delete_thread', { 'id': thread.id }) }}">Supprimer</a>

</p>

{% endif %}

{##############################################################################}

<hr />

{##############################################################################}

<h3>Messages</h3>

{% if thread.messages is empty %}
<p>
    <em>Aucun message</em>.
</p>
{% endif %}

{% for msginfo in messages %}

{% set delete_form = delete_msg_forms[msginfo.message.id] %}

<p>
    <div class="pull-right text-right">
        {% if delete_form is not null %}
        <button class="close" type="button" data-toggle="collapse" data-target="#msg_{{ msginfo.message.id }}">
            <i class="icon-trash"></i>
        </button>
        {% endif %}
    </div>
    <span>
        Le {{ msginfo.message.date|localizeddate('full', 'short') }},
        {{ msginfo.author.fullName }} a dit :
    </span>
    <br class="clearfix" />
    <pre>{{ msginfo.message.text }}</pre>
    {% if delete_form is not null %}
    <div id="msg_{{ msginfo.message.id }}" class="text-right collapse">
        {{ form_start(delete_form, { 'attr': { 'class': 'form-inline' } }) }}
        Supprimer ce message ?
        {{ form_widget(delete_form.do, { 'attr': { 'class': 'btn-danger' } }) }}
        {{ form_end(delete_form) }}
    </div>
    {% endif %}
</p>

{% endfor %}


{{ form_start(message_form) }}

<fieldset>

    <legend>Envoyer un message</legend>

    {{ form_rest(message_form.message) }}

    {{ form_rest(message_form) }}

</fieldset>

{{ form_end(message_form) }}



{##############################################################################}

{% endblock ContentBody %}

{##############################################################################}

{% endembed %}
