{%
    set container = admin ?
        "LaplaceCommonBundle::admin-page.html.twig" :
        "LaplaceCommonBundle::user-page.html.twig"
%}

{% embed container with { page: [ 'thread', 'all' ] } %}

{% block PageTitle %}{{ parent() }} - Discussions{% endblock %}

{% block ContentTitle %}Toutes les discussions{% endblock %}

{##############################################################################}

{% block ContentBody %}

<p>
    Pour ouvrir une nouvelle discussion avec le correspondant formation,
    rendez-vous sur la page de description d'un besoin ou d'une demande.
</p>

{% include 'LaplaceTrainingBundle:Thread:table.html.twig' %}

{% endblock ContentBody %}

{##############################################################################}

{% endembed %}
