
{% embed 'LaplaceCommonBundle::admin-page.html.twig'
    with { page: [ 'system', 'dashboard' ] } %}

{% block PageTitle %}{{ parent() }} - Journal système{% endblock %}

{% block ContentTitle %}Journal système{% endblock %}

{% block ContentBody %}

<p>
    <strong>{{ alerts|length }} alerte(s).</strong>
    Seules les dix premières alertes sont affichées. Elles sont
    automatiquement supprimées au bout d'un mois.
</p>

{% for alert in alerts %}

    {% if alert.severity == constant('Laplace\\CommonBundle\\Entity\\Alert::NOTICE') %}
        {% set icon = 'icon-bell' %}
    {% elseif alert.severity == constant('Laplace\\CommonBundle\\Entity\\Alert::INFORMATION') %}
        {% set icon = 'icon-info-sign' %}
    {% elseif alert.severity == constant('Laplace\\CommonBundle\\Entity\\Alert::IMPORTANT') %}
        {% set icon = 'icon-warning-sign' %}
    {% else %}
        {% set icon = 'icon-question-sign' %}
    {% endif %}

<div class="laplace-alert alert alert-info fade in" data-alert-id="{{ alert.id }}">

    <button type="button" class="close" data-dismiss="alert">&times;</button>

    <i class="{{ icon }}"></i>
    <strong>{{ alert.date|localizeddate('full', 'medium') }}</strong>
    <br />

    {{ alert.message }}

    {% if alert.link is not empty %}

    <i class="icon-hand-right"></i>
    <a href="{{ alert.link }}">Lien</a>

    {% endif %}

</div>

{% endfor %}

<div class="laplace-no-alert alert alert-success">
    <em>Aucune alerte.</em>
</div>

{% if alerts|length > 0 %}

<div class="laplace-delete-alerts">

<hr />

{{ form_start(delete_alerts_form) }}

<p>
    Supprimer les alertes visibles ci-dessus ?
    {{ form_widget(delete_alerts_form.do, { 'attr': { 'class': 'btn-danger' } }) }}
</p>

{{ form_row(delete_alerts_form.count, { 'value': 10 }) }}

{{ form_rest(delete_alerts_form) }}

{{ form_end(delete_alerts_form) }}

</div>

{% endif %}
<script src="{{ asset('js/laplace-alert.js') }}"></script>
<input type="hidden" id="api_laplace_alert" data-url="{{ path('laplace_common_adm_api_delete_alert') }}" />
{% endblock %}

{% block JavaScripts %}




{% endblock %}

{% endembed %}
