{% embed 'LaplaceCommonBundle::common-page.html.twig' with { tab: 'home' } %}

{% block ContentTitle %}
    Bienvenue !
{% endblock %}

{% block ContentBody %}
<p class="lead">
    Cette interface vous permet de gérer vos besoins de formations et vos inscriptions aux formations.
</p>
<p>
    Avant d'accéder à ce service, vous devrez remplir une
    fiche d'informations qui permettra au correpondant formation de traiter
    votre dossier.
</p>
<p class="text-right">
    <i class="icon-folder-open"></i>
    <a href="{{ path('laplace_user_new_profile') }}">
        Remplir une fiche d'informations pour accéder au service
    </a>
</p>

{% endblock %}

{% endembed %}
